/*form-validator*/

.form-error {
    display: block;
    color: red;
    margin-top: 5px;
    margin-bottom: 7px;
    line-height: 140%;
    font-size: 12px;
    float: right;
}
select.valid, input.valid{
	background-image:url();
}
select.error, input.error{
	background-image:url();
}
.has-error .input__label-content {
    color: red;
}

/*form-validator*/

.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}
*[dir="rtl"] .metismenu .arrow {
  float: left;
}

/*
 * Require Bootstrap
 * https://github.com/twbs/bootstrap
*/

.metismenu .glyphicon.arrow:before {
  content: "\e079";
}
.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.metismenu .fa.arrow:before {
  content: "\f104";
}
.metismenu .active > a > .fa.arrow:before {
  content: "\f107";
}

/*
 * Require Ionicons
 * http://ionicons.com/
*/

.metismenu .ion.arrow:before {
  content: "\f3d2"
}
.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0";
}
.metismenu .plus-times {
  float: right;
}
*[dir="rtl"] .metismenu .plus-times {
  float: left;
}
.metismenu .fa.plus-times:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.metismenu .plus-minus {
  float: right;
}
*[dir="rtl"] .metismenu .plus-minus {
  float: left;
}
.metismenu .fa.plus-minus:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068";
}
.metismenu .collapse {
  display: none;
}
.metismenu .collapse.in {
  display: block;
}
.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}

.metismenu .has-arrow {
  position: relative;
}

.metismenu .has-arrow::after {
  position: absolute;
  content: '';
  width: .5em;
  height: .5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #16a9e7;
  right: 1em;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
       -o-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
       -o-transform-origin: top;
          transform-origin: top;
  top: 50%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

*[dir="rtl"] .metismenu .has-arrow::after {
  right: auto;
  left: 1em;
  -webkit-transform: rotate(135deg) translate(0, -50%);
      -ms-transform: rotate(135deg) translate(0, -50%);
       -o-transform: rotate(135deg) translate(0, -50%);
          transform: rotate(135deg) translate(0, -50%);
}

.metismenu .active > .has-arrow::after,
.metismenu .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
      -ms-transform: rotate(-135deg) translate(0, -50%);
       -o-transform: rotate(-135deg) translate(0, -50%);
          transform: rotate(-135deg) translate(0, -50%);
}


.metismenu {
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
.metismenu ul {
    list-style: none;
    padding-left: 15px;
    padding: 0;
}
.metismenu li ul li a, .metismenu li ul li ul li a{
  display: block;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.metismenu li a:hover {
  text-decoration: none;
}

.metismenu .active+a {
  background-color: rgba(184, 183, 173, 0.38);
}
.metismenu li a {
  display: block;
  background-color: #fff;
  text-decoration: none;

}
.fa:before{
  vertical-align: middle;
}
.metismenu .sidebar-nav-item-icon {
    background-color: #16a9e7;
    color: #fff;
    width: 45px;
    font-size: 32px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    border-bottom: 1px solid;
}


/*elastic menu*/
.menu-button:hover {
	opacity: 0.6;
}
.menu-wrap a {
	color: #16a9e7;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	background-color: rgba(184, 183, 173, 0.38);
}

/* Close Button */
.close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0.2em;
	top: 0.2em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #95a5a6;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Morph Shape */
.morph-shape {
	position: absolute;
	width: 30px;
	height: 99%;
	top: 0;
	right: 0;
	fill: rgba(22, 169, 231, 0);
	z-index: 1000;
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	box-shadow: 0px 10px 10px #555;
}

.show-menu .content-wrap {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(0px,0,0);
	transform: translate3d(0px,0,0);
	width: calc(100% - 250px);
	float: right;
	transition: 0.3s all;

}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.close-button{
	display: none;
}

/*menu button*/
hr.mbar {
    width: 30px;
    padding: 1px;
    background: #fff;
    margin-top: 7px;
    margin-bottom: 7px;
}



@media(max-width: 767px){
	.close-button{
		display: block;
	}
	.menu-wrap {
		top: 0px;
	}
}

/*mendis menu end*/
.topper{
	height: 50px;
	background: rgba(22, 169, 231, 0.91);
	position: fixed;
    width: 100%;
    z-index: 2;
}

.logo{
	width: 250px;
	float: left;
	background: #fff;
	padding: 5px 50px;
}
.menu-btn{
	width: 50px;
	float: left;
}
.top-menu{
	width: calc(100% - 310px);
	float: right;
}
/*menu right top drop down*/
.right-menu .dropdown{
	float: left;
}
.right-menu {
    text-align: right;
}
.right-menu .malarm{
	padding: 10px 15px 16px;
	position: relative;
	border-left: 1px solid #fff;
}
.right-menu .mumenu{
	cursor: pointer;
	padding: 5px 15px;
    color: #fff;
    line-height: 26px;
    border-left: 1px solid #fff;
}
.mumenu img{
	border-radius: 50%;
    width: 40px;
}
.malarm .dropdown-toggle{
	color: #fff !important;
	cursor: pointer;
}
.malarm .dropdown-toggle span {
    font-size: 0.6em;
    float: right;
    position: absolute;
    margin-right: 40px;
    right: -20px;
    top: 5px;
    width: 13px;
    height: 13px;
    background: #FF4081;
    border-radius: 50%;
    padding: 2px;
}
/* Menu Button */
.menu-btn{
	float: left;
}
.menu-btn {
	position: fixed;
	top: 0;
    left: 250px;
	z-index: 1000;
	padding: 5px;
	width: 2.5em;
	height: 50px;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: #16a9e7;
	cursor: pointer;
	border-right: 1px solid #fff;
}

/* Menu */
.menu-wrap {
	position: fixed;
	left: 0;
    top: 50px;
	z-index: 1;
	width: 260px;
	height: 100%;
	font-size: 1.15em;
	-webkit-transform: translate3d(-260px,0,0);
	transform: translate3d(-260px,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	overflow-y: scroll;
	background: #fff;

}
.menu-wrap::-webkit-scrollbar-thumb {
	border-radius: 50px;
}
.menu-wrap::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 50%;
}
 
.menu-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.menu-wrap::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.menu {
	background: rgb(22, 169, 231);
	width: calc(100% - 30px);
	height: 100%;
	padding: 1em .1em 1em 0em;
}

.icon-list {
	width: 280px;
}

.icon-list a {
	display: block;
	padding: 0.8em;
}

.icon-list a i {
	opacity: 0.5;
}

.icon-list a span {
	margin-left: 10px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 0.75em;
}
li.divider {
    border-top: 1px solid #ddd;
    width: 92%;
    margin: 0 auto;
}
.dkbody{
	transition: 0.2s all;
    float: right;
    width: 100%;
    /*margin-top: 50px;*/
}

/*page header in container-fluid*/
.page-header h3 {
    border-bottom: 2px solid #16a9e7;
    padding-bottom: 6px;
    margin-top: 10px;
    text-indent: 10px;
    color: #999;
}
/*page contetn text textfields */
.dkinput-txtflds {
	position: relative;
	max-width: 350px;
}
.has-dkerror .errtxt{
    position: absolute;
    bottom: 0;
    display: block;
    right: 16px;
    margin-left: 16px;
    font-size: 0.7em;
    color: red;
}
.has-dkerror .input .input__label-content{
	color:red;
}
.has-dkerror .input .graphic--nao{
	stroke: #ff0000;
}

.has-dkwarning .errtxt{
    position: absolute;
    bottom: 0;
    display: block;
    right: 16px;
    margin-left: 16px;
    font-size: 0.7em;
    color: #e0a027;
}
.has-dkwarning .input .input__label-content{
	color:#e0a027;
}
.has-dkwarning .input .graphic--nao{
	stroke: #e0a027;
}
.has-dkwarning .input .input__label-content{
	color:#e0a027;
}
/*input fields style for nano*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 375px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}
/*for input nao style*/

/* Nao */
.input--nao {
	overflow: hidden;
	padding-top: 1em;
}

.input__field--nao {
	padding: 1em 0em 0.25em;
	width: 100%;
	background: transparent;
	color: #9da8b2;
	font-size: 1em;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.graphic--nao {
	stroke: #92989e;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: #333;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #333;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}

@media(max-width: 767px){
	/*move body according to menu*/
	.show-menu .dkbody{
		width: calc(100% - 80%);
	}
	.dkbody{
		margin-top: 40px;
	}
	/*logo and menu*/
	.logo {
	    width: 200px;
	    padding: 2px 32px;
	}
	.topper{
		height: 40px;
		background: #16a9e7;
	}
	
	hr.mbar {
	    width: 23px;
	    padding: 1px;
	    background: #fff;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}


	/*menu btn*/
	.menu-btn{
		position: relative;
		left: inherit;
		top: inherit;
		float: right;
		border-left: 1px solid #fff;
		border-right: none;
		height: 40px;
	}
	.right-menu{

	}
	.mumenu img{
		width: 30px;
	}
	.right-menu .malarm {
	    padding: 6px 15px 10px;
	    position: relative;
	}
	.right-menu .username{
		display: none;
	}
	.mumenu .dropdown-menu{
		min-width: 5em;
		padding: 0.1rem 0;
	}
	.mumenu .dropdown-menu .dropdown-item{
		font-size: 0.7em;
		line-height: 1.5em;
	}
	.malarm .dropdown-menu{
		min-width: 5em;
		padding: 0.1rem 0;
	}
	.malarm .dropdown-menu .dropdown-item{
		font-size: 0.7em;
		line-height: 1.5em;
	}
	.malarm .dropdown-menu .dropdown-item .text-muted{
		display: none;
	}
	.seeall{
		font-size: 0.8em;
	}
	/* Menu */
	.menu-wrap {
		position: fixed;
		left: 0;
	    top: 40px;
	}
}
/*---------jalin---aug_1_2017---------*/
table.s_table_view tr>td:first-child:after {
    content: ':';
    position: absolute;
    right: 0;
}
table.s_table_view tr>td {
    position: relative;
}
table.s_table_view tr>td {
    position: relative;
    min-width: 123px;
    padding: 5px 0px 5px 10px;
    font-size: 15px;
    font-weight: 500;
}
table.s_table_view tr>td:first-child{
    color: #878787;    
}
table.s_table_view tr>td:nth-child(2){
    color: #16a9e7;    
}
.dynamic_list tr>td {
    text-align: center;
  	color: #878787; 
    padding: 10px 0px 10px 0px;
}
.dynamic_list tr{
	border-bottom: 1px solid #878787;
}
.bar_head{
    font-size: 16px !important;
    font-weight: 500;
}
/*---------jalin---end aug_1_2017-----*/
/*---------jalin--- aug_2_2017-----*/
textarea +label +svg.graphic.graphic--nao {
    stroke-width: 0.5px;
}
.has-success svg.graphic.graphic--nao,.dkinput-txtflds.has-success .input__field--nao{
    color: green;
    stroke: green;
}
.has-success input {
    border-bottom:none;
    color: green;
}
.has-error .graphic--nao{
	stroke: #ff0000;
	padding-bottom:0px;
}
span.help-block.form-error {
    padding: 0px 0px 0px 15px;
    margin-top: -15px;
}
.form_group.radio_box .help-block.form-error,.form-group.radio_box.has-error .form-error {
    padding-top: 13px;
    padding-left: 0px;
    position: absolute;
}
/*---------jalin---end aug_2_2017-----*/