
/*=============================================================================================================*/
/*news carousel section*/
/* jssor slider arrow navigator skin 02 css */
        /*
        .jssora02l                  (normal)
        .jssora02r                  (normal)
        .jssora02l:hover            (normal mouseover)
        .jssora02r:hover            (normal mouseover)
        .jssora02l.jssora02ldn      (mousedown)
        .jssora02r.jssora02rdn      (mousedown)
        .jssora02l.jssora02lds      (disabled)
        .jssora02r.jssora02rds      (disabled)
        */
        .jssora02l, .jssora02r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            
            overflow: hidden;
        }
        .jssora02l { background-position: -3px -33px; }
        .jssora02r { background-position: -63px -33px; }
        .jssora02l:hover { background-position: -123px -33px; }
        .jssora02r:hover { background-position: -183px -33px; }
        .jssora02l.jssora02ldn { background-position: -3px -33px; }
        .jssora02r.jssora02rdn { background-position: -63px -33px; }
        .jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
        .jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
        /* jssor slider thumbnail navigator skin 11 css *//*
        .jssort11-130-64 .p            (normal).jssort11-130-64 .p:hover      (normal mouseover).jssort11-130-64 .pav          (active).jssort11-130-64 .pav:hover    (active mouseover).jssort11-130-64 .pdn          (mousedown)*/
        .jssort11-130-64 .p {    position: absolute;    top: 0;    left: 0;    width: 100px;    height: 64px; border:1px solid #cbcbcb; }
        .jssort11-130-64 .tp {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}
        .jssort11-130-64 .i, .jssort11-130-64 .pav:hover .i {    position: absolute;    top: 3px;    left: 3px;    width: 37px;    height: 27px;    border: white 1px dashed;}
        * html .jssort11-130-64 .i {    width /**/: 39px;    height /**/: 29px;}
        .jssort11-130-64 .pav .i {    border: white 1px solid;}
        .jssort11-130-64 .t, .jssort11-130-64 .pav:hover .t {    position: absolute;    top: 3px;    left: 45px;    width: 82px;    height: 29px;    line-height: 29px;    text-align: center;    color: #fc9835;    font-size: 13px;    font-weight: 700;}
        .jssort11-130-64 .pav .t, .jssort11-130-64 .p:hover .t {    color: #fff;}
        .jssort11-130-64 .c, .jssort11-130-64 .pav:hover .c {    position: absolute;    top: 35px;    left: 3px;    width: 124px;    height: 29px;    line-height: 29px;    color: #fff;    font-size: 10px;    font-weight: 400;    overflow: hidden;}
        .jssort11-130-64 .pav .c, .jssort11-130-64 .p:hover .c {    color: #fc9835;}
        .jssort11-130-64 .t, .jssort11-130-64 .c {    transition: color 2s;    -moz-transition: color 2s;    -webkit-transition: color 2s;    -o-transition: color 2s;}
        .jssort11-130-64 .p:hover .t, .jssort11-130-64 .pav:hover .t, .jssort11-130-64 .p:hover .c, .jssort11-130-64 .pav:hover .c {    transition: none;    -moz-transition: none;    -webkit-transition: none;    -o-transition: none;}
        .jssort11-130-64 .p:hover, .jssort11-130-64 .pav:hover {    }
        .jssort11-130-64 .pav, .jssort11-130-64 .p.pdn {    }
div#jssor_2 {
     height: 347px;
     width: 100% !important;
}
div#jssor_2 span{
    bottom: 0px !important;
    top: 85% !important;
}
.gj_jssor_slides{
    cursor:default;
    position:relative;
    top:0px;
    left:60px;
    width:370px;
    height:370px;
}
.gj_jssor_thums{
    position:absolute;
    left:75px !important;
    width:130px;
    font-family:Arial, Helvetica, sans-serif;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    top:75%;
    height:100px;
}
.t, .c {
    display: none;
}
element.style {
    z-index: 1;
    margin-top: 0px;
    margin-left: 0px;
    transform: translate3d(0px, 0px, 0px);
}

.jssort11-130-64 .i, .jssort11-130-64 .pav:hover .i {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 37px;
    height: 27px;
    border: white 1px dashed;
}
img.i {
    width: 98% !important;
    height: 60px !important;
    border: none !important;
}
.jssora02l {
    top: 83% !important;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 32px !important;
    height: 32px !important;
    padding-left: 7px;
    background: #2bb0e9;
    left: -8px;
    color: #fff;
}
.jssora02r {
    top: 83% !important;
    position: absolute;
    margin-top: 0px;
    margin-right: 0px;
    width: 32px !important;
    height: 32px !important;
    padding-left: 7px;
    background: #2bb0e9;
    right:120px !important;
    color: #fff;
}
.jssora02l i.fa, .jssora02r i.fa {
    padding: 2px 3px;
    font-size: 26px;
}
div#jssor_2 {
    height: 347px;
    width: 100% !important;
}

@media(max-width: 767px){
  .jssora02r{
    right: 40px !important;
  } 
}