.content-wrap {
	overflow: hidden;
	width: 100%;
	float: none;
}

.container {
	background: #373a47;
}

.menu-wrap a {
	color: #16a9e7;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	background-color: rgba(184, 183, 173, 0.38);
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
/*
.content {
	position: relative;
	background: #b4bad2;
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}*/

