.gj_package_dets{
	color: #fff;
    background: rgba(22, 169, 231, 0.91);
    padding: 7px 0px;
    box-shadow: 4px 0px 5px #c3cacd;
    font-size: 13px;
}
.gj_package_dets>span {
    background: #0186be;
    padding: 7.5px 12px;
}
.page-header.gj_new_pack h3 {
    border: 0px;
    color: #16a9e7;
    text-indent: 0;
}
.gj_pack_all .gj_desc_wid{
	margin-right: 0px;
    margin-left: 0px;
    height: 100px !important;
}
.gj_pack_all .gj_desc_wid, .gj_pack_all .gj_pack_desc {
    width: 100% !important;
    max-width: 100%;
}
.gj_pack_all .gj_pack_desc .graphic--nao, .gj_pack_all .gj_desc_wid .graphic--nao {
    stroke-width: 0.5px;
}
.gj_pack_all .gj_pack_desc {
    margin-right: 0;
    height: 200px !important;
}
section.gj_pack_sec span.input.input--nao {
    margin-top: 0px;
    height: 65px;
}
section.gj_pack_sec .input__label-content {
   font-size: 13px;
}
section.gj_pack_sec .avail_er {
    right: 10px !important;
    left: initial;
}
section.gj_pack_sec span.access_add_select_placeholder {
    font-size: 13px;
}
.gj_mt{
	margin-top: 32px;
}
/*GJ on/off switch*/
.bs-switch {
    position: relative;
    width: 65px;
    margin-top: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
    }
.bs-switch .bs-switch-checkbox {
    display: none
    }
.bs-switch .bs-switch-label {
    position: relative;
    display: block;
    overflow: hidden;
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    cursor: pointer
    }
.bs-switch .bs-switch-inner {
    margin-left: -100%;
    width: 200%;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: margin;
    -moz-transition-property: margin;
    -o-transition-property: margin;
    transition-property: margin
    }
.bs-switch .bs-switch-inner:before, 
.bs-switch .bs-switch-inner:after {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 50%;
    height: 18px;
    color: #fff;
    font-size: 10px;
    line-height: 1.8
    }
.bs-switch .bs-switch-inner:before {
    padding-left: 6px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #18a9e7;
    color: #fff;
    content: "Visible";
    -ms-border-radius: 20px;
    -o-border-radius: 20px
    }
.bs-switch .bs-switch-inner:after {
    padding-right: 6px;
    background-color: #eee;
    color: #999;
    content: "InVisible";
    text-align: right
    }
.bs-switch .bs-switch-switch {
    position: absolute;
    top: 0;
    right: 41px;
    bottom: 0;
    margin: 2px;
    width: 15px;
    border: 2px solid #e4e4e4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #fff;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -ms-border-radius: 15px;
    -o-border-radius: 15px
    }
.bs-switch.bs-switch-blank .bs-switch-inner:before, 
.bs-switch.bs-switch-blank .bs-switch-inner:after { content: "" }
.bs-switch-checkbox:checked + .bs-switch-label .bs-switch-inner {
    margin-left: 0
    }
.bs-switch-checkbox:checked + .bs-switch-label .bs-switch-switch {
    right: 0
    }
/*GJ on/off switch*/

.toppkfile input#files {
    width: 80px;
    height: 80px;
    opacity: 0;
    height: 131px;
    position: absolute;
}

.toppkfile .width-60px {
    margin-top: 0px;
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 1px solid #d7d7d7;
    box-shadow: 4px 1px 2px 0px #c1c1c1;
}
.gj_file  .width-6px:before {
    content: "+";
    font-size: 47px;
    color: #C1C1C1;
    line-height: 65px;
}
p.gj_pack_title {
    margin-bottom: 10px !important;
}
.pkfile.gj_file .toppkfile {
    margin-left: 0px !important;
}
img.width-60px.bdrstyle {
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 1px solid #d7d7d7;
}
.bdrstyle_hover {
    position: relative;
}
.gj_file .bdrstyle_hover span {
    position: absolute;
    top: -5px;
    right: -4px;
    background-color: #16a9e7;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0px 5px;
    line-height: 18px;
    cursor: pointer;
}
.country_button {
    width: 100%;
    float: left;
}
.country_button{

     background: #0186be;
    color: #fff;
    font-size: 12px;
    width: 90px;
    height: 30px;
    box-shadow: 4px 0 5px 0px #c1c1c1;
    border: none;
}
.country_width_100 , .country_button_section{
    width: 100%;
    float: left;
}
.butt_sec_width {
    width: 200px;
    margin: 0px auto;
}
.country-right {
    float: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; 
    -webkit-appearance: none;
    margin: 0;
}
.footer_postion {
    position: relative !important;
}
.gj_pack_all .gj_desc_wid textarea, .gj_pack_all .gj_pack_desc textarea {
    padding-top: 40px !important;
}
/*resoponsive*/
@media (max-width: 992px) and (max-width: 1199px){
    section.gj_pack_sec .input__label-content {
	    font-size: 10px;
	}
}

@media (max-width: 767px){
    span.access_add_select_placeholder.pt-2 {
      margin-left: 1rem;
  	}
}