
/** sakthi style in usermodule**/

.user_module_tab li a {
    padding: 6px 30px;
    background-color: #2bb1e9;
    border-right: 1px solid white;
    color: white;
    text-decoration: none;
}
.font_icon {
    padding-right: 6px;
}
.user_module_tab li.active a {
    background-color: #0290cc;
}
.nav-tabs {
    border-bottom: none !important;
}
.user-header h3 {
    color: #0290cc !important;
    margin: 10px 0px;
}
.fon_refeer {
    background-color: #0290cc;
    padding: 0.4rem;
    margin-right: 8px;
}
p.refferal_tab_head {
    background-color: #2bb1e9;
    margin-top: 1.5rem !important;
    margin: 0px 1rem;
    color: white;
}
.referal_tab_detail1 {
    width: 65%;
    margin: 0 auto;
}
.ref_col_id {
    margin-top: 3rem;
    margin-left: 0rem;
    margin-right: -2rem;
    color: rgba(74, 57, 57, 0.82);
}
p.refeeral_id>a {
        color: #0290cc !important;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:2px solid #2bb1e9;
  border-radius:50%;
  outline:none;
  margin: -5px 6px;
    margin-right: 20px;
}

.forge_reg_radio label {
    margin-left: 15px;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:62%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:#2bb1e9;
}
.next_buton {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0rem;
}
.next_buton a {
	background-color: #0290cc;
    color: white;
    padding: 8px 25px 11px 34px;
}
/**footer section**/
	.show-menu .container-fluid.footer_sect {
		position: relative;
		margin-top: 20px;
		float: right;
	}
	.container-fluid.footer_sect {
		position: relative;
		width: 100%;
		margin-top: 20px;
		float: right;
	}
	.show-menu .footer_sect {
		float: left;
		width: calc( 100% - 261px );
		background-color: #2bb1e9;
		color: white;
		position: absolute;
		bottom: 0;
	}
	.footer_sect {
		width: 100%;
		background-color:#2bb1e9;
		float: left;
		color: white;
		position: absolute;
		bottom: 0;
	}
	p.ma1 {
		margin-bottom: 0px;
		font-size: 12px;
	}
	p.ma {
		margin-bottom: 0px;
		font-size: 12px;
		text-align: right;
	}
/** footer End**/

/**product details**/
.shopin_cart {
    background-color: #18aae7;
    width: 14%;
    color: white;
    padding: 6px 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
	box-shadow: -1px 4px 8px -1px grey;
}
.font_cart {
    padding-right: 6px;
}
.next_but a {
     background-color: #18aae7;
    margin-right: 2rem;
    padding: 8px 30px;
    color: white;
    box-shadow: -1px 4px 8px -1px grey;
	text-decoration: none;
}
.next_but {
    display: inline-block;
    margin: 2rem 0px;
}
.font_arrow {
    margin-right: 8px;
	margin-left: 8px;
}
.arrow_sect {
    margin-top: 12%;
	width: 100%;
    float: left;
}

/** shoppin cart details**/
	.shopping_pin {
		margin: 2rem 0rem;
		font-weight: 600;
	}
	.shopin_cart_det thead tr td {
		width: 33%;
		border-right: 1px solid white;
	}
	.shopin_cart_det tbody tr td {
		color:gray;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}
	.shopin_cart_det thead {
		background-color: #0277bd;
		color: white;
	}
	.btn_form {
		background-color: #2bb1e9;
		color: white;
		border-radius: 0;
		box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.52);
		margin: 2rem 0rem;
	}
/** bank details**/
	.slt_type {
		border: 0;
		border-bottom: 1px solid #92989e;
		margin-top: 19px;
		outline: 0;
		color: #787878;
		font-size: 0.90em;
		font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
		font-weight: 600;
	}
	.s_bank_details1 {
		width: 100%;
	}
	.submit_butonsp a.addbank_form {
		background-color: #2bb1e9;
		color: white;
		border-radius: 0;
		box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.52);
		margin: 2rem 0rem;
		padding: 6px 20px;
		text-decoration:none;
	}
	.submit_butonsp {
		margin: 2rem 0rem;
		width: 100%;
	}
/** attachment details**/
	.s_attachment_detail {
		width: 90%;
		margin-left: 9% !important;
	}
	input#files {
		width: 120px;
		height: 120px;
	}
	.toppkfile .width-60px {
		margin-top: -120px;
		width: 120px;
		height: 120px;
		padding: 2px;
		border: 1px solid #d7d7d7;
		text-align: center;
		font-size: 0.9rem;
		padding-top: 2rem;
	}
	
	.width-6px:before {
		content: "Attach Pancard front side";
		color: #C1C1C1;
	}
	.toppkfile {
		margin-left: 2px;
	}
	.pkfile input.form-control {
		opacity: 0;
	}
	.chkbo .checkbox-material .check {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 1px solid #92989e;
		overflow: hidden;
		z-index: 1;
		margin-right: 10px;
	}
	.chkbo input[type=checkbox]:checked + .checkbox-material .check {
		color: #18aae7;
		border-color: #18aae7;
	}
	
	.chkbo input[type=checkbox] {
		opacity: 0;
		position: absolute;
		margin: 0;
		z-index: -1;
		width: 20px;
		height: 23px;
		overflow: hidden;
		left: 0;
		pointer-events: none;
	}
	.chkbo .checkbox-material {
		vertical-align: middle;
		position: relative;
		top: 3px;
	}
	.chkbo .checkbox-material:before {
		display: block;
		position: absolute;
		top: -5px;
		left: 0;
		content: "";
		background-color: rgba(0, 0, 0, 0.84);
		height: 20px;
		width: 20px;
		border-radius: 100%;
		z-index: 1;
		opacity: 0;
		margin: 0;
		-webkit-transform: scale3d(2.3, 2.3, 1);
		transform: scale3d(2.3, 2.3, 1);
	}
	.chkbo input[type=checkbox]:checked + .checkbox-material .check:before {
		color: #18aae7;;
		-webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
	}
	.chkbo .checkbox-material .check:before {
		position: absolute;
		content: "";
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		display: block;
		margin-top: -4px;
		margin-left: 6px;
		width: 0;
		height: 0;
		-webkit-box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
		box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
	}

/**security details**/
	.m_with {
		max-width: 100% !important;
	}
	.s_width {
		width: 100% !important;
	}
	.s_securit_detail {
		width: 85%;
		margin: 0 auto;
	}

/** personal_details**/
 .checkbutvew {
  margin-top: 3rem;
 }
 .person_phone_nub {
  / margin-top: -4.5rem; /
 }
 .s_personal_detal {
  width: 100%;
 }
 .checkbutvew input[type='radio'] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #2bb1e9;
  border-radius: 50%;
  outline: none;
  margin: -5px 0px;
  margin-right: 0px;
 }
 /** profile uploader**/
 .upload-button {
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  float: left;
    
 }

 .profile-pic {
  margin-top: 2rem;
  max-width: 150px;
  max-height: 150px;
  display: block;
 }

 .file-upload {
  display: none;
 }

/** personal_details end**/

/**  width 992 to 1199**/
@media (max-width: 74.9em) {
	.user_module_tab li a {
			padding: 6px 14px;
			font-size: 0.7em;
		}
	}
/**  width 768 to 991**/
/* LESS THAN 62 */
@media (max-width: 61.9em) { 
	.user_module_tab li a {
		padding: 6px 2px;
		font-size: 0.6em;
	}
	.referal_tab_detail1 {
		width: 85%;
		margin: 0 auto;
	}
 }
/**  width 767 to 542**/
/* LESS THAN 48 */
@media (max-width: 47.9em) {

	}

/* LESS THAN 34 */
@media (max-width: 33.9em) { 
	
 }
 
 
 /****user access details****/
 
	p.user_access_head {
		background-color: #2bb1e9;
		margin-top: 1rem !important;
		margin: 0px 0rem;
		color: white;
	}
	.tab_com tbody tr th.tbwidth {
		padding: 0.35rem !important;
		font-weight: 400;
		color: #9E9E9E;
		width: 170px;
		border-top: none !important;
		/* vertical-align: middle; */
	}
	.tab_com tbody tr th {
		border-top: none !important;
		color: #9E9E9E;
		padding: .35rem;
		/* vertical-align: middle; */
	}
	.tab_com tbody tr td {
		color: #0290cc;
		border-top: none !important;
		padding: .35rem;
	}
	.editbut {
		background-color: #0290cc;
		margin-right: 2rem;
		padding: 8px 26px 8px 40px;
		color: white;
		box-shadow: -1px 4px 8px -1px grey;
		text-decoration: none;
		border-radius: 0;
		box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.62)
	}
	.btn_row1 {
		background-color: #0290cc;
		color: white;
		border-radius: 0;
		padding: 8px 18px 8px 18px;
		font-size: 0.9rem;
		margin: 2rem 0rem;
	}
	/** repurchaing shopping**/
	.repurchase_shopin_cart {
		background-color: #0290cc;
		color: white;
		padding: 6px 20px;
		text-align: center;
		margin-top: 2.3rem;
		margin-left: 1rem;
		box-shadow: -1px 4px 8px -1px grey;
	}
	.back_button {
		width: 100%;
	}
	/** user module single view**/
	.font_sizeus {
		font-size: 0.8rem;
		font-weight: 500;
	}
	/* .tab_com tbody tr td {
		vertical-align: middle;
	} */
	.auther_img {
		width: 200px;
		height: auto;
	}
	.sub_button_width {
		width: 100%;
	}
	
	
	/**dummy footer**/
	input#imgInp {
    width: 120px;
    height: 120px;
	opacity: 0;
}
div#blah {
    margin-top: -120px;
    width: 120px;
    height: 120px;
    padding: 2px;
    border: 1px solid #d7d7d7;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 2rem;
}
div#blah:before {
	content:'+';
}

/**list menu tab dummy**/
.tab_menuref li {
    width: 20%;
    text-align: center;
    background-color: #2bb1e9;
    border-right: 1px solid white;
    padding: 6px 0px;
}
.tab_menuref li a {
    text-decoration: none;
    color: white;
}
.tab_menuref li.active {
    background-color: #0290cc;
}
.s_securit_detail .security_submit {
    width: 100%;
    float: left;
}