/*-- HOME PAGE --*/
	@font-face{
		font-family:roboto_bold;
		src:url(../fonts/Roboto-Bold.ttf);
	}
	@font-face{
		font-family:roboto_medium;
		src:url(../fonts/Roboto-Medium.ttf);
	}
	@font-face{
		font-family:roboto_regular;
		src:url(../fonts/Roboto-Regular.ttf);
	}
	@font-face{
		font-family:roboto_light;
		src:url(../fonts/Roboto-Light.ttf);
	}
	@font-face{
		font-family:worksans_reg;
		src:url(../fonts/WorkSans-Regular.ttf);
	}
	.no-js #loader { display: none;  }
	.js #loader { display: block; position: absolute; left: 100px; top: 0; }
	.se-pre-con {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url(../images/loader.gif) center no-repeat #fff;
	}
	body{
		font-family:roboto_medium;
	}
	/*--social link--*/
	.dhinatechnologies_metrokings_socialbg {
		background-color: #0087d0;
		padding: 9px;
		transition:0.5s all;
	}
	span.dhinatechnologies_metrokings_social_ph a {
		color: white;
		text-decoration: none;
		font-family: worksans_reg;
	}
	.fb{
		padding: 6px 8px !important;
	}
	i.fa.fa-facebook:hover {
		padding: 6px 8px;
		background-color: white;
		color: blue;
		transition: 1s ease-out;
		border-radius: 50%;
	}
	i.fa.fa-youtube:hover {
		padding: 5px 6px;
		background-color: white;
		color: red;
		transition: 1s ease-out;
		border-radius: 50%;
	}
	i.fa.fa-google-plus:hover {
		padding: 5px 6px;
		background-color: white;
		color: red;
		transition: 1s ease-out;
		border-radius: 50%;
	}
	i.fa.fa-twitter:hover {
		padding: 5px 6px;
		background-color: white;
		color: skyblue;
		transition: 1s ease-out;
		border-radius: 50%;
	}
	.social_ico{
		margin-right: 7px;
		margin-top: 10px;
	}
	.soc{
		margin-top: 2px;
	}
	.env{
		margin-left: 15px;
	}
	span.dhinatechnologies_metrokings_social_login a {
		color: white;
		text-decoration: none;
		font-family: worksans_reg;
		padding: 6px 6px 8px 12px;;
	}
	span.dhinatechnologies_metrokings_social_login:hover a {
		padding: 6px 6px 8px 12px;;
		background-color: white;
		color: #0688d4;
		border-radius: 8px;
		transition: 0.5s ease;
	}
	span.dhinatechnologies_metrokings_social_register a {
		color: white;
		text-decoration: none;
		font-family: worksans_reg;
		padding: 6px 8px;
	}
	span.dhinatechnologies_metrokings_social_register:hover a {
		padding: 6px 8px;
		background-color: white;
		color: #0688d4;
		border-radius: 8px;
		transition: 0.5s ease;
	}
	span.dhinatechnologies_metrokings_social_divider {
		display: inline-block;
		width: 2px;
		height: 33px;
		border-right: 1px solid #fff;
		vertical-align: middle;
		margin: auto 4px;
	}
	span a .dhinatechnologies_metrokings_social_icon {
		color: white;
		padding: 5px 6px;
		margin-right: 5px;
		width: 25px;
		height: 25px;
	}
	/*--MENU--*/
	.navbar-inverse {
		background-color: #fff !important;
		border: 0 !important;
	}
	.mnu_clr{
		background-color:#f7f6f6 !important;
		box-shadow: 1px 0px 15px;
		position: fixed;
		z-index: 99;
		width: 100%;
		top:0;
	}
	
	.navbar-nav {
		float: right;
		padding: 5px 0;
	}
	.navbar {
		border-radius: 0 !important;
		margin-bottom: 0;
	}
	.navbar-inverse .navbar-brand {
		color: black !important;
	}
	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
		color: #0688d4 !important;
		background-color: transparent !important;
		border-bottom: 2px solid #0688d4;
	}
	.navbar-collapse {
		padding-right: 0px;
		padding-left: 0px;
	}
	nav.navbar.navbar-inverse ul li a {
		position:relative;
	}
	nav.navbar.navbar-inverse ul li a::before {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		right: 50%;
		border-top: 2px solid #0688d4;
		transition: 0.3s all ease;
	}
	nav.navbar.navbar-inverse ul li a:hover::before{
		left: 0; 
		right: 0;
	}
	.navbar-inverse .navbar-nav > li > a {
		color: black !important;
		padding: 22px 12px 3px;
	}
	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
		color: #0688d4 !important;
	}
	/*-- CAROUSEL --*/
	
	.carousel-indicators .active{
		width: 15px;
		height: 15px;
		background-color: #0688d4;
		border: 2px solid #414141;
		margin-right: 20px;
	}
	.carousel-indicators li {
		width: 12px;
		height: 12px;
		background-color: #fff;
		border: 1px solid #565050;
		margin-right: 20px;
	}
	/*-- Footer --*/
	.dhinatechnologies_metrokings_Footer_bg1 {
		background-color: #0688d4;
		color: white;
		padding: 35px 0;
	}
	.dhinatechnologies_metrokings_Footer_hd {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.dhinatechnologies_metrokings_Footer_mar1 {
		margin-bottom: 20px !important;
	}
	.dhinatechnologies_metrokings_Footer_mar2 {
		margin-bottom: 30px;
	}
	.dhinatechnologies_metrokings_Footer_admin {
		font-family: roboto_regular;
		font-size:16px;
	}
	.dhinatechnologies_metrokings_Footer_content {
		font-family: roboto_light;
		margin-bottom: 5px;
	}
	.copysize{
		font-size: 13px;
	}
	.dhinatechnologies_metrokings_Footer_img1 {
		float: left;
		margin-right: 15px;
	}
	.dhinatechnologies_metrokings_Footer_mar3 {
		margin-bottom: 35px;
	}
	.foo_icomar{
		margin-top: -23px;
	}
	p.navig a {
		color: white;
		text-decoration: none !important;
		font-family: roboto_light;
	}
	p.navig a:hover {
		color: #ebdd93;
		text-shadow: 1px 2px 3px;
	}
	.foo_float{
		float: right;
	}
	.navig{
		margin-bottom: 3px;
	}
	span.ter a {
		color: white;
		text-decoration: underline;
		font-family: roboto_regular;
	}
	span.ter a:hover {
		text-shadow: 1px 2px 3px;
		color: #ebdd93;
	}
	.foo_block{
		display:block;
	}
	.foo_none{
		display:none;
	}
	.foo_blo {
		display: block;
	}
	.scrolltop{
		position: fixed;
		bottom: 0px;
		right: 20px;
		z-index: 99;
	}	
/*-- PRODUCT PAGE --*/	
	.dhinatechnologies_metrokings_Product_icon {
		font-size: 16px;
		width: 40px;
		height: 40px;
		padding: 12px;
		background-color: #0688d4;
		color: white;
		border: 1px solid white;
		border-radius: 6px;
	}
	.dhinatechnologies_metrokings_Product_ico1 {
		position: relative;
	}
	.dhinatechnologies_metrokings_Product_ico2 {
		position: absolute;
		top: 7px;
		left: 7px;
		width: 91%;
		height: 91%;
		padding: 58px 54px;
		background-color: rgba(6, 136, 212, 0.64);
		border-radius: 4px;
		display: none;
	}
	.dhinatechnologies_metrokings_Product_ico1:hover .dhinatechnologies_metrokings_Product_ico2 {
		display: block;
	}
	.dhinatechnologies_metrokings_Product_txt {
		font-size: 16px;
		margin: 5px auto 25px;
	}
	.dhinatechnologies_metrokings_headings {
		font-size: 28px;
		color: #0688d4;
	}
	.pdt{
		margin-top: 20px;
	}
	.dhinatechnologies_metrokings_hr {
		margin-top: 0px;
		margin-bottom: 30px;
		border-top: 2px solid #acacac;
		width: 200px;
	}

	@media (min-width:992px) and (max-width:1199px){
	/*-- HOME PAGE RESPONSIVE --*/	
		.dhinatechnologies_metrokings_socialbg {
			padding: 11px 0;
		}
		.carousel-indicators {
			bottom: -10px;
		}
		.pr0 {
			padding-right: 15px !important;
		}
		.pl0 {
			padding-left: 15px !important;
		}
		.copysize {
			font-size: 10px;
		}
		.foo_client1{
			width: 12% !important;
		}
		.foo_client2{
			width: 25% !important;
		}
	/*-- PRODUCT PAGE RESPONSIVE --*/	
		.dhinatechnologies_metrokings_Product_ico2 {
			padding: 36px 38px;
		}
	}
	@media (min-width:768px) and (max-width:991px){
	/*-- HOME PAGE RESPONSIVE --*/	
		.pr0 {
			padding-right: 15px !important;
		}
		.pl0 {
			padding-left: 15px !important;
		}
		.navbar-inverse .navbar-nav > li > a {
			padding: 22px 6px 3px;
		}
		.dhinatechnologies_metrokings_socialbg {
			background-color: #0087d0;
			padding: 11px 0;
		}
		.carousel-indicators {
			bottom: -10px;
		}
		.dhinatechnologies_metrokings_Footer_mar2 {
			text-align: center;
		}
		.copysize {
			font-size: 14px;
			text-align: center;
		}
		.foo_float{
			float:none;
		}
		.foo_mar {
			margin: auto 8% 30px 8%;
			float: left;
			width: 84%;
		}
		.dhinatechnologies_metrokings_Footer_hd {
			color: #3c3b3b;
		}
	/*-- PRODUCT PAGE RESPONSIVE --*/	
		.dhinatechnologies_metrokings_Product_ico1 {
			width: 80%;
			margin: auto;
		}
		.dhinatechnologies_metrokings_Product_ico2 {
			padding: 58px 60px;
		}
	}
	@media (max-width:767px){
	/*-- HOME PAGE RESPONSIVE --*/	
		span a .dhinatechnologies_metrokings_social_icon {
			margin-right: 0px;
		}
		.pr0 {
			padding-right: 15px !important;
		}
		.pl0 {
			padding-left: 15px !important;
		}
		.padd{
			padding: 0 !important;
		}
		div#myNavbar {
			position: absolute;
			z-index: 99;
			width: 200px;
			padding: 0px;
			text-align: center;
			background: rgba(255, 255, 255, 0.92);
			overflow: hidden;
			border: 0;
			right: 15px;
		}
		.navbar-toggle {
			margin-top: 14px;
			margin-right: 0;
		}
		.navbar-inverse .navbar-toggle {
			border-color: #0688d4;
			background-color: #0688d4;
		}
		.high{
			min-height: 0px;
		}
		.cent{
			text-align: center;
		}
		.soc {
			margin-top: 15px;
			float: none !important;
		}
		.navbar-nav {
			float: none;
			text-align:center;
			padding: 0;
			margin: 7.5px -15px 25px;
		}
		.navbar-inverse .navbar-nav > li > a {
			width: 30%;
			margin: auto;
			padding: 10px 0px 3px;
		}
		nav.navbar.navbar-inverse ul li a::before {
			display:noe;
		}
		nav.navbar.navbar-inverse ul li a:hover::before{
			display:noe;
		}
		.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
			background-color: #0688d4;
		}
		.carousel-indicators {
			bottom: 2px;
		}
		.dhinatechnologies_metrokings_Footer_mar2 {
			text-align: center;
		}
		.dhinatechnologies_metrokings_Footer_content {
			text-align: center;
		}
		.copysize {
			font-size: 14px;
			text-align: center;
		}
		.foo_client1{
			width: 12% !important;
		}
		.foo_client2 {
			width: 23% !important;
		}
		.dhinatechnologies_metrokings_Footer_mar3 {
			margin: auto auto 35px;
		}
		.dhinatechnologies_metrokings_Footer_hd {
			color: #3c3b3b;
		}
		.foo_block {
			display: none !important;
		}
		.foo_blo {
			display: none !important;
		}
		.foo_none{
			display:block !important;
		}
		.foo_marg1{
			margin-bottom: -20px !important;
		}
	/*-- PRODUCT PAGE RESPONSIVE --*/	
		.dhinatechnologies_metrokings_Product_ico1 {
			width: 50%;
			margin: auto;
		}
	@media (max-width:400px){
	/*-- HOME PAGE RESPONSIVE --*/	
		.logo{
			width: 75%;
			height: 62px;
		}
		span.dhinatechnologies_metrokings_social_ph a {
			font-size: 11px;
		}
		.dhinatechnologies_metrokings_carousel_nav {
			width: 30px;
			height: 30px;
			padding: 1px 1px;
		}
		.carousel-indicators {
			bottom: -10px;
		}
		.dhinatechnologies_metrokings_Footer_img1 {
			float: none;
			margin-right: auto;
			margin: auto auto 30px;
		}
		.foo_client2 {
			width: 60%;
			margin: auto auto 30px;
		}
	}
	@media (max-width:500px){
	/*-- PRODUCT PAGE RESPONSIVE --*/	
		.dhinatechnologies_metrokings_Product_ico2 {
			top: 4%;
			left: 4%;
			padding-left: 29%;
			padding-top: 29%;
		}
		.dhinatechnologies_metrokings_Product_ico1 {
			width: 80%;
			margin: auto;
		}
	}