@media (min-width: 992px) and (max-width: 1200px) {
	section.account_holder_details .container-fluid{
		overflow-x: scroll;
	}
	.dataTables_wrapper {
	    position: relative;
	    clear: both;
	    zoom: 1;
	    overflow-x: scroll;
	}
    .dataTable.no-footer tr td{
        font-size: 12px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
	.col p.page-content-header-colr{
		font-size:12px !important;
	}
	span.input__label-content.input__label-content--nao {
	    font-size: 10px;
	}
	section.account_holder_details .container-fluid{
		overflow-x: scroll;
	}
	.dataTables_wrapper {
	    position: relative;
	    clear: both;
	    zoom: 1;
	    overflow-x: scroll;
	}
    .dataTable.no-footer tr td{
        font-size: 12px !important;
    }
	
 }
 @media (min-width: 300px) and (max-width: 767px) { 
 .col p.page-content-header-colr{
		font-size:10px !important;
	}
	span.input__label-content.input__label-content--nao {
    	font-size: 10px;
	}
	.col-md-6.col-sm-12.mb-3.pl-0 {
	    padding-right: 0px !important;
	}
	table.col-md-6.col-sm-12.ventable.mb-2 {
   	 max-width: 330px;
	}
	#example thead>tr>td {    
    padding: 9px;
    font-size: 10px;
	}
	section.account_holder_details .container-fluid{
		overflow-x: scroll;
	}
	.dataTables_wrapper {
    	position: relative;
    	clear: both;
    	zoom: 1;
	    overflow-x: scroll;
	}
    .dataTable.no-footer tr td{
        font-size: 12px !important;
    }
	
 }

@font-face{
	font-family:"Roboto-Regular";
	src:url("fonts/roboto/Roboto-Regular.ttf");
}
body{
	font-family:"Roboto-Regular";
}
.page-header h3{
	border-bottom:0px;
	color:#0186be;
	font-weight: bold;
}
p.page-content-header-color {
    color: #fff;
    background: rgba(22, 169, 231, 0.91);
    padding: 5px 0px;
    box-shadow:4px 0px 5px #c3cacd;
    font-size: 14px;
}
p.page-content-header-color>span {
    background: #0186be;
    padding: 6px 12px;
}
.col-3.pull-left .input {    
    margin: 1em 0;
    max-width: 350px;
    width: 100%;
   
}
.col-6.pull-left .input {    
    margin: 1em 0;
    max-width: 350px;
    width: 100%;
   
}
span.input.input--nao.input--filled span.input__label-content.input__label-content--nao {
    color: #219dd2;
}
.graphic--nao{
	stroke: #787878;
}
span.input.input--nao.input--filled .graphic--nao{
	stroke: #219dd2;
}
.col p.page-content-header-colr {
    border: 1px solid;
    font-size: 12px;
    text-align: center;
    background: #0186be;
    padding: 7px 0;
    color: #fff;
}
.input__label-content {    
    color: rgba(127, 127, 127, 0.86);
}
button.delete_icon {
    text-align: center;
    margin-top: 3em;
    background: transparent;
    border: 0;
    outline:none;
   
}
span.deleteicon i.fa.fa-trash {
    width: 30px;
    height: 30px;
    background: #f84b4b;
    border-radius: 50%;
    padding-top: 7px;
    color: #fff;
}
.col span.input.input--nao {
    width: 100%;
    margin: 1em 0;
}
span.input__label-content.input__label-content--nao {
    font-size: 12px;
}
.add_new_account_holder_name{
	float:right;
}
button.add_new_account_holder_name {
    background: #2bb0e9;
    border: none;
    font-size: 12px;
    width: 90px;
    height: 30px;
    color: #fff;
    box-shadow: 4px 0 5px 0px #c1c1c1;
}
button#add_new_communication_details {
    background: #2bb0e9;
    border: none;
    font-size: 12px;
    width: 90px;
    height: 30px;
    color: #fff;
    box-shadow: 4px 0 5px 0px #c1c1c1;
}
.pull-right.col-12.border-top {
    border-top: 2px solid #d1cdcd;
    padding-top: 20px 
}
section.account_holder_details {
    margin-bottom: 25px;
    width: 100%;
   
}
button.vendor_add_submit {
    border: 0px;
    background: #2bb0e9;
    color: #fff;
    font-size: 12px;
    width: 90px;
    height: 30px;
    box-shadow: 4px 0 5px 0px #c1c1c1;
}
button.vendor_add_reset {
    border: 0px;
    background: #2bb0e9;
    color: #fff;
    font-size: 12px;
    width: 90px;
    height: 30px;
    box-shadow: 4px 0 5px 0px #c1c1c1;
}
button.back {
    float: right;
    background: #2bb0e9;
    color: #fff;
    font-size: 12px;
    width: 90px;
    height: 30px;
    border: 0px;
     box-shadow: 4px 0 5px 0px #c1c1c1;
}
.ebitable th.thead1 {
    background: #0186be;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    height: 30px;
    font-size: 12px;
}
.ebitable td {
    font-size: 12px;
    text-align: center;
    color: #a29b9b;
    height: 50px;
}
table.col-12.ebitable {
    border-bottom: 1px solid #c1c1c1;
}
table.ventable tr th, table.ventable tr td {
    font-size: 14px;
    padding:7px;
}
table.col-md-6.col-sm-12.ventable.mb-2 {
    float: left;
    min-width: 250px;
    
}
table.ventable tr td {
    color: #2bb0e9;
}
table.ventable tr th {
    color: #818080;
}
table#example {
	width: 100% !important;
}
table.dataTable thead td.sorting_asc,table.dataTable thead td.sorting{
	background: none !important;
	position: relative;
}
table.dataTable thead td.sorting_desc,table.dataTable thead td.sorting{
	background: none !important;
	position: relative;
}
table.dataTable thead td.sorting_asc:before,table.dataTable thead td.sorting:before {
    content: "\f160";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
    top: 8px;
    right: 0;
}
table.dataTable thead td.sorting_desc:before,table.dataTable thead td.sorting:before{
	 content: "\f161";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
   top: 8px;
    right: 0;
}
table.dataTable thead td.sorting,table.dataTable thead td.sorting:before{
	background: none;
	position: relative;
}
table.dataTable thead td.sorting_desc td:before,table.dataTable thead td.sorting:before {
    content: "\f161";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
    top: 8px;
    right: 0;
}
table.dataTable thead .sorting_asc td:before {
    content: "\f160";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #FFF;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
    top: 8px;
    right: 0;
}
td.disabled.sorting {
    pointer-events: none;
    text-align: center;
}
td.disabled.sorting:before{
	display: none;
}
#example thead>tr>td {
    color: #FFF;
    background-color: #0186be !IMPORTANT;
    BORDER: 1PX SOLID #FFF;
    padding: 9px;
    font-size: 14px;
}
table.dataTable tbody tr {
    height: 60px;
    color: grey;
    border-top: 1px solid grey !important;
    border-bottom: 1px solid grey !important;
    border-collapse: collapse;
}
table.dataTable{
	border-collapse:collapse;
}
table.dataTable tbody th, table.dataTable tbody td:last-child {
    text-align: center;
    color: #fff;
}
table.dataTable tbody th, table.dataTable tbody td:last-child i.fa {
    background: red;
    border-radius: 50%;
    padding: 7px 9px;
    margin: 1px;
    color: #fff;
}
table.dataTable tbody th, table.dataTable tbody td:last-child i.fa.fa-search-plus {
    background-color: #2bb0e9 !important;
}
table.dataTable tbody th, table.dataTable tbody td:last-child i.fa.fa-pencil {
    background: #0186be !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    font-size: 14px;
}
a#example_first {
    display: none;
}
a#example_last {
    display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #979797;
    background-color: #3aaedf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2bb0e9 ), color-stop(100%, #0186be));
    background: -webkit-linear-gradient(top, #2bb0e9 0%, #0186be 100%);
    background: -moz-linear-gradient(top, #2bb0e9 0%, #0186be 100%);
    background: -ms-linear-gradient(top, #2bb0e9 0%, #0186be 100%);
    background: -o-linear-gradient(top, #2bb0e9 0%, #0186be 100%);
    background: linear-gradient(to bottom, #2bb0e9 0%, #0186be 100%);
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 0;
    border-bottom: 1px solid grey;
    outline: none;
}
#propid_table>thead>tr>th {
    width: 18%;
    height: 30px;
    background: #0186be;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border: 1px solid #fff;
    font-weight: normal;
}
table.comunication_table_id {
    width: 100%;
    min-width: 860px;
}
table#propid_table {
    width: 100%;
    min-width: 860px;
}
tbody#proappend tr td {
    width: 18%;
}
table.comunication_table_id thead tr th {
    background: #0186be;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    width: 18%;
    font-weight: normal;
    font-size: 14px;
}
table.dataTable tbody tr.selected {
    background-color: #cfeffd;
}
table#propid_table .input {
    width: calc(100% - 1em);
}
table.comunication_table_id .input {
    width: calc(100% - 1em);
}
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em 0;
    max-width: 100%;
    width: calc(100%);
    vertical-align: top;
}
table#example {
    width: 100% !important;
    min-width: 800px;
}
/*.input__field.input__field--nao {
    background: url(../images/download.gif);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 16px;
}*/
.dataTable.no-footer {
    width: 100% !important;
    min-width: 860px;
}
.dataTable.no-footer thead tr td{
    background-color:red;

}
.dataTable.no-footer thead tr td {
    background-color: #0186be !important;
    color: #fff;
    font-size: 14px;
    padding: 7px;
    border: 1px solid;
}
.dataTable.no-footer tbody tr td{
    font-size:14px;
}
.paginate_button.first.disabled {
    display: none;
}
.paginate_button.last.disabled {
    display: none;
}
.width-60px{
    width: 60px;
}
.input_max-width {
    max-width: 100%;
}
textarea#package_description {
    height: 200px;
    border-radius: 4px;
    border-bottom: 1px solid;
}
.pkfile input.form-control {
    opacity: 0;
}
.toppkfile .width-60px {
    margin-top: 0px;
    width: 80px;
    height: 80px;
     padding: 2px;
    border: 1px solid #d7d7d7;
    box-shadow: 4px 1px 2px 0px #c1c1c1;
}
input#files {
    width: 80px;
    height: 80px;
}
.width-60px.bdrstyle {
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 1px solid #d7d7d7;
}
img.width-60px.bdrstyle+span {
    background: rgba(2, 144, 204, 0.52);    
    font-size: 14px;    
    border-radius: 50%;
    padding: 0px 7px;
    position: absolute;
    top: -6px;
    right: -15px;
    color: #fff;
    display:none;
}
.bdrstyle_hover:hover img.width-60px.bdrstyle+span{
    display: block;
    cursor:pointer
}
.togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled] + .toggle {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color: rgba(80, 80, 80, 0.7);
    border-radius: 15px;
    margin-right: 15px;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
}
.togglebutton label .toggle:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #F1F1F1;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -2px;
    -webkit-transition: left 0.3s ease, background 0.3s ease, -webkit-box-shadow 0.1s ease;
    -o-transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
    background-color: #009688;
}
.togglebutton label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}
.togglebutton label .toggle {
    text-align: left;
    margin-left: 5px;
}
.togglebutton label input[type=checkbox]:checked span.toggle:after {
    transform: translateX(22px );
}
.togglebutton {
    margin-top: 52px;
}
input#account_type_name,input#bank_name_type {
    border: none;
    font-size: 13px;
    border-bottom: 1px solid grey;    
    margin-top: 23px;
    width: calc(100% - 1em);
}
input[type="text"],input[type="email"] {
    border-bottom: 1px solid;
    border-radius: 4px;
}
.table-responsive {
    overflow: visible !important;
}
i.fa:before {
    vertical-align: 0;
}
.main-image{
    max-height:250px;
    border: 1px solid #c1c1c1
}
.image-area {
    width: calc(85% + 60px);
    min-width: 240px;
}
img#main-image {
    width: 100%;
    height: 240px;
}
.owl-nav.disabled{
    display: block !important;
}
.item.dance {
    border: 1px solid #c1c1c1;
}
.owl-prev {
    top: 50%;
    position: absolute;
    margin-top: -12px;
    margin-left: -25px;
    width: 25px;
    height: 25px;
    padding-left: 7px;
    background: #2bb0e9;
    left: -8px;
    color:#fff;
}
.owl-next {
    top: 50%;
    position: absolute;
    margin-top: -12px;
    margin-right: -25px;
    width: 25px;
    height: 25px;
    padding-left: 7px;
    background: #2bb0e9;
    right: -8px;
    color:#fff;
}
.owl-arousel {
    width: 80%;
    margin: auto;
}
img.img-responsive.pk {
    cursor: pointer;
}
span.rating-icon {
    font-size: 16px;
    color: #2bb0e9;
}
.color {
    color: #0186be;
}
span.rating-num {
    font-size: 14px;
    color: #95a5a6;
}
span.color.weight {
    font-weight: 600;
}
ul.color-grey-size {
    font-size: 14px;
    color: rgba(38, 28, 28, 0.67);
}
#tabs ul>li {
    display: table-cell;
    padding: 6px;
    border: 1px solid #c1c1c1;
    min-width: 150px;
    text-align: center;   
}
#tabs>ul {
    padding-left: 0;
    margin-bottom: 0;    
}
.ui-tabs-panel.ui-corner-bottom.ui-widget-content {
    border: 1px solid #c1c1c1;
    padding: 6px;
    font-size: 14px;
    color: #95a5a6;
    text-align: justify;
}
#tabs ul>li>a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active{
     border-bottom: 5px solid #0186be !important;
}
li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active a{
    color:#2bb0e9 !important;
}
table.table-responsive.cut-off tr>th {
    color: #706a6a;
    font-weight: 500;
}
.togglebutton label {
    font-size: 12px;
    color: rgb(91, 101, 102);
    font-weight: 500;
}
.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: rgb(24, 169, 231);
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
    background-color: #29aee7;
}
.toppkfile .form-group {
    padding-bottom: 0px;
    margin: 0px 0 0 0;
}
.width-6px:before {
    content: "+";
    font-size: 47px;
    /* text-align: center; */
    color: #C1C1C1;
    PADDING-LEFT: 33%;
    /* TOP: 51%; */
    /* MARGIN-TOP: 10PX; */
}
textarea {
    border-bottom: 1px solid #95a5a6 !important;
    height: 38px;
}
.outline {
    outline: oldlace;
    border: none;
    color: #a9a9a9;
    font-size: 12px;
    margin-top: 12px;
    font-weight: 500;
}
table.col-12.ventable.mb-2.font-size-12px td, table.col-12.ventable.mb-2.font-size-12px th {
    font-size: 13px;
}

/** sakthi style in usermodule**/

.user_module_tab li a {
    padding: 6px 31px;
    background-color: #2bb1e9;
    border-right: 1px solid white;
    color: white;
    text-decoration: none;
}
.font_icon {
    padding-right: 6px;
}

