@font-face{
    font-family:roboto_bold;
    src:url(../fonts/Roboto-Bold.ttf);
  }
  @font-face{
    font-family:roboto_medium;
    src:url(../fonts/Roboto-Medium.ttf);
  }
  @font-face{
    font-family:roboto_regular;
    src:url(../fonts/Roboto-Regular.ttf);
  }
  @font-face{
    font-family:roboto_light;
    src:url(../fonts/Roboto-Light.ttf);
  }
  @font-face{
    font-family:worksans_reg;
    src:url(../fonts/WorkSans-Regular.ttf);
  }
.toast.success{
    top: 35px;
    opacity: 1;
    padding: 15px 55px;
    background: green;
 }

 .toast.error{
    top: 35px;
    opacity: 1;
    padding: 15px 55px;
    background: red;
 } 
 .toast.warning{
    top: 35px;
    opacity: 1;
    padding: 15px 55px;
    background: yellow;
 }

 body.show-menu .dkbody#dkbody{
        width: calc( 100% - 261px ) !important;
        float: right;
}
 body.show-menu div#dk_body{
        width: calc( 100% - 261px ) !important;
        float: right;
}
div#dk_body {
    float: right;
    margin-top: 3em;
    width: 100%;
}
.dkinput-txtflds.simple_form{
    position: relative;
    max-width: 100% !important;
    text-align: center;
}
.common_form{
    min-height: 400px !important;
}
.bottom_buttons{
    position: absolute;
    width: 100%;
}
.row.bottom_buttons a {
    color: white !important;
    cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom:  0rem !important;
}
p.error{
    /*float: right;*/
    /*margin-right: 2.7em;*/
    margin-top: -20px;
    font-size: 13px;
    color: red;
    width: 92%;
    text-align: right;
}
.dkinput-txtflds.simple_form.svk_simple_form {
    position: relative;
    max-width: 40% !important;
    text-align: center;
    margin: 0 auto;
}


/** personal_details**/
 .checkbutvew {
  margin-top: 3rem;
 }
 .person_phone_nub {
  / margin-top: -4.5rem; /
 }
 .s_personal_detal {
  width: 100%;
 }
 .checkbutvew input[type='radio'] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #2bb1e9;
  border-radius: 50%;
  outline: none;
  margin: -5px 0px;
  margin-right: 0px;
 }
 /** profile uploader**/
 .upload-button {
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  float: left;
    
 }

 .profile-pic {
  margin-top: 2rem;
  max-width: 150px;
  max-height: 150px;
  display: block;
 }

 .file-upload {
  display: none;
 }

/** personal_details end**/

.arrow_sectt {
    margin-top: 5%;
    width: 100%;
    float: left;
}
.security_submit {
    width: 100%;
    float: left;
}
.security_submit.text-center {
    width: 100%;
    float: left;
}
#security_submit.security_submit.text-center {
    width: 100%;
    float: left;
}
.full_width{
  width: 100% !important;
}
img.prd_img {
        width: 99.3%;
    height: 150px;
}
.col-md-3.prd_brdr{
      margin: 10px 20px;
      border: 1px solid #b7adad;
      padding: 15px;
}
p.prd_shrt_desc {
    overflow: hidden;

}
span.prd_price {
    color: #0095de;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
       right: 16%;
    top: -4px;
}
span.prd_name{
  color: #0095de;
    font-weight: bold;
    font-size: 20px;

    position: absolute;
        right: 16%;
    top: -4px;
}
.col-md-3.prd_brdr p{
  position: relative;
      padding: 5px 0px;
}
.row.full_width.shop_bdy {
    margin: 20px;
}
p.avail_bal,p.tot_bal {
    font-size: 25px;
    margin: 15px 0px;
}
span.avail_bal_text {
    color: red;
    font-weight: bold;
}
span.tot_bal_text{
  color: #0095de;
  font-weight: bold;
}

/* Login Styles Start  */
/*Login Page*/
.login_bgcolor {
    background-color: #0290cc;
    width: 100%;
    float: left;
    padding: 80px 0px;
}
.admin_login {
    width: 465px;
    margin: 0px auto;
   
}
.admin_login form{
    width: 100%;
    background-color: white;
    float: left;
}
.admin_login_logo_image {
    padding: 5px 0px;
    border-bottom: 1px solid rgba(158, 158, 158, 0.29);
    margin: 0px 15px;
}
.admin_form_heading {
    padding: 25px 0px;
}
.admin_form_heading h4{
    margin-bottom: 0px;
    font-weight: bold;
}
span#basic-addon1 {
    background-color: #0290cc;
    border-radius: 0px;
}
.admin_form {
    width: 100%;
    float: left;
    padding: 0px 15px;
}
input.form-control.admin_user_name {
    border: 1px solid #9e9e9e;
    border-radius: 0px;
}
input.form-control.admin_user_name:focus{
    border: 1px solid #0290cc;
}
input.form-control.admin_user_name:focus::-webkit-input-placeholder {
    color: #0290cc !important;
}
input.form-control.admin_user_name{
    color: #0290cc !important;
}
.input-group-addon i{
    color: white;
}
.input-group-addon i.fa.fa-user{
    font-size: 18px;
}
.input-group-addon i.fa.fa-shopping-bag{
  font-size: 14px;
}
.row.border-bottom {
    border-bottom: 1px solid rgba(158, 158, 158, 0.29);
    margin: 0px 0px;
}
p.thead1
{
    color:#838383;
    font-size: 16px;
    margin-bottom: 0px;
}
button.vendor_add_submit.mr-2.user_shopping_cart_button.red {
    background-color: red;
}
button.vendor_add_submit.mr-2.user_shopping_cart_button.width-100 {
    width: 100%;
}
td.text-center {
    color: #9e9e9e !important;
}
div#dashboard_last_cutoff_paginate {
    float: right;
}
div#dashboard_last_cutoff_info {
    float: left;
}
div#dashboard_royality_table_info{
     float: left;
}
div#dashboard_royality_table_paginate {
    float: right;
}
div#dashboard_leadership_bonus_table_info{
     float: left;
}
div#dashboard_leadership_bonus_table_paginate {
    float: right;
}
button {
    cursor: pointer;
}
.color {
    color: #0186be !important;
}
.login_sigin_button {
    background-color: #0290cc;
    width: 100%;
    color: white;
    padding: 6px 10px;
    text-align: center;
    box-shadow: -1px 4px 8px -1px grey;
    border: none;
}
.checkboxFive label {
      cursor: pointer;
    position: absolute;
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
    background: white;
    border: 1px solid #787878;
}
.checkboxFive label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid white;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}
.checkboxFive label:hover::after {
  opacity: 0;
}
.checkboxFive input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.checkboxFive input[type=checkbox]:checked + label{
  background-color: #0290cc;
}

/*forget password*/
.forgetpass_cancel {
    background-color: #f00;
    width: 100%;
    color: white;
    padding: 6px 10px;
    text-align: center;
    box-shadow: -1px 4px 8px -1px grey;
    border: none;
}
.forgetpass_padd {
    padding: 212.7px 0px;
}
.forgetpass_padd i.fa.fa-close {
    font-size: 20px;
}
.forget-pass_mb {
    margin-bottom: 2.2rem;
}
.admin_login_div {
    width: 100%;
    float: left;
}

/*reset password*/
.admin-reset-pass {
    padding-top: 65px;
}

/*media query*/
@media (max-width: 767px)
{
  .login_bgcolor {
      padding: 101.3px 0px;
  }
  .xs-pl-0 {
      padding-left: 0px;
  }
  .xs-pr-0 {
      padding-right: 0px;
  }
  .admin_login {
      width: 80%;
  }
  p.thead1 {
      text-align: center !important;
  }
  .xs-mt-mb-login {
      margin: 10px 0px !important;
      padding: 0px;
  }
  .admin_form {
      padding-bottom: 15px;
  }
  .forgetpass_padd {
      padding: 165px 0px;
  }
    .reset-pass-div-padd {
      padding: 146px 0px;
  }
}
@media (min-width: 768px) and (max-width: 1439px)
{
  .login_bgcolor {
      padding: 100px 0px;
  }
  .forgetpass_padd {
      padding: 182.7px 0px;
  }
}
/* Login Styles End  */
.ldr{
    position: absolute;
    right: 0;
    bottom: 5px;
}
.avail_er{
       position: absolute;
    font-size: 12px;
    bottom: 0px;
    left: 0px;
    width: 380px;
    text-align: right;
}
.suc{
  color: green;
}
.err{
  color: red;
  
}


/*COuntry Style STart*/
.country_button {
    width: 100%;
    float: left;
}
.country_button{

     background: #0186be;
    color: #fff;
    font-size: 12px;
    width: 90px;
    height: 30px;
    box-shadow: 4px 0 5px 0px #c1c1c1;
    border: none;
}
.country_width_100 , .country_button_section{
    width: 100%;
    float: left;
}
.butt_sec_width {
    width: 200px;
    margin: 0px auto;
}
.country-right {
    float: right;
}
/*COuntry Style End*/
/*Data Table Style Start*/
.data_table_style thead tr th {
    background-color:rgba(22, 169, 231, 0.91) !important;
    /*background-color: #0186be !important;*/
    color: #fff;
    font-size: 14px;
    padding: 7px;
    border: 1px solid;
}
table.data_table_style tbody tr.selected {
    background-color: #cfeffd;
}
.data_table_style tr td {
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}
a.paginate_button.current {
    background: #2bb0e9 !important;
    color: white !important;
}
a#data_table_first:hover, a#data_table_previous:hover, a#data_table_next:hover, a#data_table_last:hover{
  background: #2bb0e9 !important;
  color: white !important;
}
.data_table_style tr td form {
    width: 25px !important;
    float: left;
    margin-right: 10px;
}
.dark_blue{
  color: #0186be !important
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}
.page-header{
  margin-bottom: 1em;
}
/*Data Table Style End*/

.select .select_search {
    position: absolute;
    margin-top: 42px;
    padding: 9px;
    background-color: #2bb0e9;
    color: white;
}
.select .select_widt {
    width: 50%;
    margin: 0px auto;
}
.select span.select2.select2-container.select2-container--default {
   margin: 3em 0em 1em 1em;
    max-width: 350px;
    width: calc(80%) !important;
}
/*media query*/
@media (max-width: 767px)
{
  .select span.select2.select2-container.select2-container--default {
      width: calc(80%) !important;
      max-width: 100% !important;
  }
  .select .select_widt {
      width: 100%;
  }
}


.page-content section.content.bgcolor-1 form span.select2.select2-container.select2-container--default.select2-container--focus,span.select2.select2-container.select2-container--default.select2-container--below,span.select2.select2-container.select2-container--default{
    width: 300px !important;
    margin: 30px auto !important;
        text-align: left;
}



/*Contact Style Start*/
.single_table_view_head {
    color: #999999;
}
.single_table_view_data {
    color: #2bb0e9;
}
table.single_view_table tr td {
    padding: 5px 0px;
}

/*media query*/
@media (max-width: 767px)
{
  /*admin style*/
  .show-menu .dkbody {
      width: calc(100% - 35%) ;
  }
  .foot_copyright p {
      text-align: center;
  }
  /*pincode*/
  .avail_er {
      width: 100% !important;
   }
   
  .country_width_100.col-12.mt-5 {
      margin: 1.5rem 0rem !important;
  }

  /*.butt_sec_width.mt-3.mb-3 {
      margin: 0rem !important;
  }*/
  button.country_button {
      margin-bottom: 10px;
  }
  .single-view-county {
      margin-bottom: 20px;
  }
  .single_table_view_data{
    padding-right: 10px !important;
  }
  table.single_view_table tr td{
      min-width: 145px;
  }
    td.single_table_view_head.single_view_table_name {
      text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1439px)
{
  /*pincode*/
  .avail_er{
    width: 91% !important;
    left: -15px !important;
  }
}

/*Contact Style End*/
td form i,td i {
    cursor: pointer;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
     border-bottom: 0px solid #111 !important; 
}
.coln{
  width: 50px;
  text-align: center;
}
.dk_footer_body{
  background: rgba(22, 169, 231, 0.91);
  width: 100% !important;
  color: #fff;
}
.foot p{
  background: rgba(22, 169, 231, 0.91);
  color: #fff;
}
.half_width{
  width: 50% !important;
}
/**footer section**/
.foot_copyright {
    transition: 0.2s all;
    float: right;
    width: 100%;
    background-color: #18aae7;
    color: white;
    font-size: 0.6rem;
}
.footer_postion {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.foot_copyright p{
 margin:0px;
}
.show-menu .foot_copyright {
    width: calc( 100% - 261px );
}
#footer.stikybottom {
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}
#footer{
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}
/** footer End**/
/** Bank Start**/
p.bank_add_details {
    color: #fff;
    background: rgba(22, 169, 231, 0.91);
    padding: 7px 0px;
    box-shadow: 4px 0px 5px #c3cacd;
    font-size: 13px;
}
p.bank_add_details>span {
    background: #0186be;
    padding: 7.5px 12px;
}
/** Bank End**/


 .module_checkbox {
    margin-top: 5.7rem;
}

/*User Add Start*/
span.usermodulegender {
    color: #696969;
    font-size: 1em;
    font-weight: bold;
    margin-right: 5px;
}
input#user_profile_image{
    opacity: 0;
    height: 171px;
    position: absolute;
    width: 75%;
}
.toppkfile .form-group {
    padding-bottom: 0px;
    margin: 0px 0 0 0;
}
.bdrstyle_hover {
    position: relative;
}
.bdrstyle_hover span:hover {
    color: white;
    background-color: #2bb0e9;
    border-radius: 60px;
}

.bdrstyle_hover span {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    color: white;
    background-color: #2bb0e9;
    border-radius: 60px;
}
.checkboxFive.pull-left,.checkboxFive {
    position: relative;
}

/*responsive*/
@media (max-width: 767px) {
  .toppkfile, .xs_check_mb {
      margin-bottom: 20px;
  }
  span.usermodulegender {
      margin-left: 1rem;
  }
}
.toppkfile {
    margin-left: -18px;
}
/*User Add End*/

input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #2bb1e9;
    border-radius: 50%;
    outline: none;
    margin: -4px 0px;
    margin-right: 0px;
}
.pad_zero{
  padding: 0px !important;
}
.pad_left_10px{
  padding-left: 10px !important
}

label.role_select {
    width: 200px;
    margin-top: 3em;
    margin-left: 1em;
}
div#user_access_pofile_image {
    margin-top: 1em;
}
.user_profile_default_image img {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}
.product_model .modal-body{
      min-height: 360px;
    overflow-y: auto;
}
.mar_bottom_1em{
  margin-bottom: 1em !important;
}
.s_view_prof_img{
    max-width: 130px;
    min-width: 130px;
    max-height: 130px;
    min-height: 130px;
    border: 1px solid #ddd;
    margin-top: 0.7em;
    border-radius: 50%;
    padding: 5px;
}
li.active ul.collapse.in li{
      visibility: visible !important;
}
.height_30px{
      height: 30px !important;
}

.outer_span_cus{
  margin-top: -60px !important;
}
.vendor_cus_txt_ar {
    margin: 3.3em 0em 10px !important;
    padding-bottom: 0px;
}
.vendor_cus_lbl{
      top: 60px !important;
}
#propid_table>thead>tr>th {
    width: 18% !important;
    height: 30px !important;
    background: #0186be !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 14px !important;
    border: 1px solid #fff !important;
    font-weight: normal !important;
}
table#propid_table {
    margin-top: 1em;
}
span.deleteicon i.fa.fa-trash {
    width: 30px;
    height: 30px;
    background: #f84b4b;
    border-radius: 50%;
    padding-top: 5px;
    color: #fff;
}
button.delete_icon {
    text-align: center;
    margin-top: 2em;
    background: transparent;
    border: 0;
    outline: none;
}
button.dynamic{
    background: #2bb0e9;
    border: none;
    font-size: 12px;
    width: 90px;
    height: 30px;
    color: #fff;
    box-shadow: 4px 0 5px 0px #c1c1c1;
}


/*package_single_view*/
p.gj_pck {
    color: #2bb0e9;
    margin-bottom: 5px;
}
span.gj_psv_star {
    margin: 0px 5px;
    vertical-align: text-bottom;
}
span.gj_psv_star i.fa.fa-star {
    margin-right: 5px;
}
span.gj_psv_rating {
    color: #787878;
}
span.gj_psv_money {
    color: #2bb0e9;
    font-size: 18px;
}
ul.gj_psv_ul {
    padding-left: 20px;
}
th.gj_thead {
    width: 170px;
    color: #787878;
    font-weight: normal;
}
.gj_psv_disp .table td, .gj_psv_disp .table th {
    border: 0px;
}
.gj_psv_disp table.table {
    margin-bottom: 0px;
}
hr.gj_psv_hr2 {
    margin-bottom: 0px;
}
hr.gj_psv_last_hr {
    margin-top: 70px;
}
.gj_psv_tab li {
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: 5px solid transparent;
    padding: 10px 0px;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.gj_psv_tab li:hover, .gj_psv_tab li:hover .gj_psv_tab a {
    color: #2bb0e9;
    border-bottom: 5px solid;
    text-decoration: none;
}
.gj_psv_tab a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}
.gj_psv_tab a:hover, .gj_psv_tab a:focus {
    color: #2bb0e9;
    text-decoration: none;
}
.gj_psv_tab .tab-content {
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    text-align: justify;
    margin-bottom: 15px;
}
button.country_button i.fa {
    vertical-align: text-top;
}


/*package_single_view*/

/*resoponsive*/
@media (max-width: 992px) and (max-width: 1199px){
    section.gj_pack_sec .input__label-content {
        font-size: 10px;
    }
}
@media (max-width: 992px) and (max-width: 1199px){
    div#jssor_2 {
        top: 0px !important;
    }
}

@media (max-width: 767px){
    span.access_add_select_placeholder.pt-2 {
      margin-left: 1rem;
   }
    div#jssor_2 {
        top: 0px !important;
    }
}







/*Product Style Start*/
select.gj_pro_select {
    border: 0;
    border-bottom: 2px solid #adb1b6;
    margin-top: 5px;
    outline-width: 0px !important;
}
section.gj_pack_sec span.access_add_select_placeholder {
    font-weight: bold;
    color: #787878;
}
.gj_psv_tab li.active {
    color: #2bb0e9;
    border-bottom: 5px solid;
}
.gj_psv_tab li.active a {
    color: #2bb0e9;
}
/*product_view*/
p.gj_pro_en {
    margin-bottom: -10px !important;
    color: #787878;
    font-weight: 600;
    font-size: 14px;
}
span.gj_pro_srh {
    margin-top: -5px;
}
span.gj_pro_srh .input__field--nao {
    border-bottom: 2px solid;
}
.gj_pro_vw1 {
    width: 160px;
    float: left;
}
.gj_pro_vw2 {
    width: 160px;
    float: right;
}
.gj_pro_vw_table th {
    background-color: #0290cc;
    color: #fff;
    border-right: 1px solid #a1ddf7;
    padding: 7px 10px !important;
}
.gj_pro_vw_table th i.fa {
    float: right;
    margin-top: 5px;
}
img.gj_pro_img {
    max-width: 90px;
    max-height: 50px;
    min-width: 90px;
    min-height: 50px;
    border: 1px solid #cccccc;
}
.gj_pro_vw_table td {
    padding: 8px 10px !important;
    vertical-align: middle !important;
    color: #787878;
}
.gj_pro_det {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
    font-size: 12px !important;
    padding: 4px 5px;
}
i.fa.fa-search-plus.gj_pro_det {
    background-color: #0290cc;
}
i.fa.fa-pencil.gj_pro_det {
    background-color: #16a9e7;
}
.gj_pro_vw_table tbody tr {
    border-bottom: 2px solid #c8c8c8;
}
.gj_pro_vw_table tbody tr:hover td {
    color: black;
    background-color: #cfeffd !important;
}
.gj_pro_vw_table table.table {
    width: 1058px;
}
/*product_view*/

/*package product */
/*package product */
/*Product Style End*/
img.table_img {
    padding: 10px;
    width: 100px;
}
section.gj_pack_sec .select2-container {
  width: 100% !important;
}
section.gj_pack_sec .select2-container--default .select2-selection--single {
    border: 0;
    border-bottom: 1px solid #adb1b6;
    border-radius: 0px;
    outline: 0;
}
section.gj_pack_sec .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0px;
}
.gj_pur p {
    margin-bottom: 0px;
}
.gj_pur {
    margin-top: 20px;
}
.gj_pur {
    margin-top: 20px;
    color: #787878;
}
p.gj_pur_hd {
    font-weight: bold;
}
p.gj_purse_bill {
    color: #787878;
    font-weight: bold;
}
span.gj_bill_no {
    font-weight: 600;
}
span.gj_bill_sep {
    margin: 0px 10px;
}
.gj_bill_table td {
    vertical-align: middle !important;
}
.gj_bill_table th {
    background-color: #2bb0e9;
    color: #fff;
    border-color: #fff !important;
}
.gj_pur_inp {
    text-align: center;
    outline: 0;
}
.gj_bill_table .table-bordered td, .gj_bill_table  .table-bordered th, 
.gj_total_bill .table-bordered td, .gj_total_bill  .table-bordered th {
    border: 1px solid #adb1b6;
}
.gj_bill_table table.table {
    margin-bottom: 0px;
}
td.gj_spe_td {
    width: 696px;
}
td.gj_spe_td {
    width: 696px;
    border: 1px !important;
    background-color: #fff;
}
.gj_spce_td{
  width: 233px;
}
.gj_bill_table table.table, .gj_total_bill table.table {
  border: 1px solid #adb1b6;
}
.gj_apnd_but button.gj_pur_but {
    margin-right: 0px !important;
    margin-bottom: 15px;
}
.gj_pur_butt {
    width: 220px !important;
}
.gj_pur_create {
    width: 120px !important;
}
.gj_purchase_table {
    overflow-x: scroll;
    border: 1px solid #adb1b6;
}
.gj_pur_bill_table, .gj_total_bill_table {
    width: 1058px;
}
.gj_purchase_table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
.gj_purchase_table::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}
.gj_purchase_table::-webkit-scrollbar-thumb {
  background-color: rgba(43, 176, 233, 0.36);
    border: 3px solid rgba(1, 134, 190, 0.21);
    border-radius: 50px;
}
.ven_name_min_wd{
  min-width: 115px !important;
}


section.gj_pack_sec .select2-container {
  width: 100% !important;
}
section.gj_pack_sec .select2-container--default .select2-selection--single {
    border: 0;
    border-bottom: 1px solid #adb1b6;
    border-radius: 0px;
    outline: 0;
}
section.gj_pack_sec .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0px;
}
.gj_pur p {
    margin-bottom: 0px;
}
.gj_pur {
    margin-top: 20px;
}
.gj_pur {
    margin-top: 20px;
    color: #787878;
    font-size: 14px;
}
p.gj_pur_hd {
    font-weight: bold;
}
p.gj_purse_bill {
    color: #787878;
    font-weight: bold;
}
span.gj_bill_no {
    font-weight: 600;
}
span.gj_bill_sep {
    margin: 0px 10px;
}
.gj_bill_table td {
    vertical-align: middle !important;
}
.gj_bill_table th {
    background-color: #2bb0e9;
    color: #fff;
    border-color: #fff !important;
}
.gj_pur_inp {
    text-align: center;
    outline: 0;
}
.gj_bill_table .table-bordered td, .gj_bill_table  .table-bordered th, 
.gj_total_bill .table-bordered td, .gj_total_bill  .table-bordered th {
    border: 1px solid #adb1b6;
}
.gj_bill_table table.table {
    margin-bottom: 0px;
}
td.gj_spe_td {
    width: 696px;
}
td.gj_spe_td {
    width: 724px;
    border: 1px !important;
    background-color: #fff;
}
.gj_spce_td{
  width: 210px;
}
.gj_bill_table table.table, .gj_total_bill table.table {
  border: 1px solid #adb1b6;
}
.gj_apnd_but button.gj_pur_but {
    margin-right: 0px !important;
    margin-bottom: 15px;
}
.gj_pur_butt {
    width: 220px !important;
}
.gj_pur_create {
    width: 120px !important;
}
.gj_purchase_table {
    overflow-x: scroll;
    border: 1px solid #adb1b6;
}
.gj_pur_bill_table, .gj_total_bill_table {
    width: 1058px;
}
.gj_purchase_table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
.gj_purchase_table::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}
.gj_purchase_table::-webkit-scrollbar-thumb {
  background-color: rgba(43, 176, 233, 0.36);
    border: 3px solid rgba(1, 134, 190, 0.21);
    border-radius: 50px;
}
.gj_pr_bill {
    margin-top: 40px;
}


/*Responsive*/
@media (min-width: 992px) and (max-width: 1199px){
  .gj_pur {
      font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .gj_add_mar {
      margin-left: 0 !important;
  }
}

@media (max-width: 767px){
  .gj_add_mar {
      margin-left: 0 !important;
  }
}

.forget_cancel_button {
    background-color: red;
    width: 100%;
    color: white;
    text-align: center;
    box-shadow: grey -1px 4px 8px -1px;
    padding: 6px 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
button.forget_cancel_button i {
    position: absolute;
    margin-left: 3px;
}
.gj_pan1file {
    width: 100px;
    opacity: 0;
    height: 100px;
    position: absolute;
    z-index: 99;
    left: 42px;
}
.gj_f_div {
    margin: auto;
    width: 100px;
    height: 100px;
    padding: 2px;
    border: 1px solid #d7d7d7;
    box-shadow: 4px 1px 2px 0px #c1c1c1;
    position: relative;
}
.gj_f_div:before {
    content: "+";
    font-size: 60px;
    color: #efefef;
    line-height: 115px;
    padding-left: 33%;
}
.gj_file_img {
    color: #787878;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
span.gj_file_cmd {
    position: absolute;
    top: 50%;
    margin-top: -33px;
    left: 0;
    text-align: center;
    font-weight: bold;
    color: #787878;
}
span.gj_file_close {
    position: absolute;
    z-index: 99;
    top: -7px;
    left: -5px;
    background-color: #16a9e7;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px 4px;
    cursor: pointer;
}
.gj_skip_div{
  margin-top: 30px;
    padding-left: 15px;

}
.gj_skip_div [type="checkbox"]:not(:checked) + label::after, 
.gj_skip_div [type="checkbox"]:checked + label::after {
    content: "✔";
    position: absolute;
    top: 0px;
    left: 4px;
    font-size: 15px;
    color: rgb(43, 176, 233);
    transition: all 0.2s;
}
.gj_skip_div label {
    color: #787878;
}
.gj_skip_div [type="checkbox"]:checked + label {
    color: #2bb0e9;
}
p.gj_need{
  color: #2bb0e9;
  font-weight: bold;
}
/*responsive*/
@media (min-width: 992px) and (max-width: 1199px){
  .gj_pan1file {
      left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .gj_pan1file {
      left: 17px;
  }
}



/*view*/
p.gj_att {
    padding: 10px;
    background-color: #2bb0e9;
    width: 100%;
    color: #fff;
}

.gj_att_table th, .gj_att_table td {
    border: 0px !important;
    vertical-align: middle !important;
    font-size: 14px;
}
.gj_att_table td {
    color: #2bb0e9;
    font-weight: bold;
}
img.gj_att_img {
    min-width: 185px;
    min-height: 90px;
    max-width: 185px;
    max-height: 90px;
    border: 1px solid #ccc;
}
span.gj_colon {
    margin-right: 15px;
    font-size: 16px;
    color: #414141;
}
.gj_verf {
    color: #078e17;
}
.gj_pend {
    color: #e07a03;
}
.gj_fail {
    color: #ff0000;
}
.gj_att_table table.table {
    width: 810px;
    margin: auto;
}


.mar_lef_5{
  margin-left: 5px !important;
}
.mar_lef_miuns10{
  margin-left: -10px !important;
}
.usr_ad_idnty{
      width: 100%;
    float: left;
    margin: 20px 0px;
}

/*Dashboard Style Start*/
  .gj_dash_orange {
      background-color: #ff6102;
      margin: 15px 0px;
  }
  .gj_layout {
      padding: 15px 20px 5px;
      color: #fff;
      font-size: 22px;
      font-weight: 600;
  }
  p.gj_payout {
      margin-bottom: 0px;
  }
  p.gj_payout_count {
      margin-bottom: 30px;
      font-size: 18px;
  }
  img.gj_lay_img {
      float: right;
      margin-top: -45px;
  }
  a.gj_view_details {
      color: #fff !important;
      text-decoration: none !important;
      font-size: 14px;
      font-weight: normal;
  }
  .gj_view_arrw{
    vertical-align: middle;
  }
  .gj_dash_green{
    background-color:#00a651;
  }
  .gj_dash_pink{
    background-color:#ff2580;
  }
  .gj_dash_blue{
    background-color:#0290cc;
  }
  .gj_cht_container {
      overflow-x: auto;
  }
  .gj_dash_chart {
      border: 1px solid #cbcbcb;
  }
  .gj_dash_chart text.highcharts-credits {
      display: none;
  }
  .gj_chevr_rht, .gj_chev_left, span.gj_paginate {
      margin-left: 25px;
  }
  .gj_selbox {
      border: 0;
      background-color: transparent;
      font-size: 14px;
      outline: 0;
  }
  .gj_cutoff_table th, .gj_cutoff_table td {
      font-size: 14px;
      vertical-align: middle !important;
      color: #787878;
      text-align: center;
  }
  p.gj_lco {
      color: #59aad7;
      font-size: 16px;
      font-weight: 600;
      margin-top: 20px;
  }
  /*scoll style*/
  .gj_cutoff_table::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  .gj_cutoff_table::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #F5F5F5;
  }
  .gj_cutoff_table::-webkit-scrollbar-thumb {
      background-color: rgba(43, 176, 233, 0.36);
      border: 3px solid rgba(1, 134, 190, 0.21);
      border-radius: 50px;
  }

  .gj_cht_container::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  .gj_cht_container::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #F5F5F5;
  }
  .gj_cht_container::-webkit-scrollbar-thumb {
      background-color: rgba(43, 176, 233, 0.36);
      border: 3px solid rgba(1, 134, 190, 0.21);
      border-radius: 50px;
  }
  /*scroll style*/
  .gj_cts_tip {
      background-color: #2bb0e9;
      color: #fff;
  }
  .gj_dash_chart .highcharts-tooltip-box{
      fill: #2bb0e9 !important;
  }
  .gj_cts_tip td {
      color: #fff;
  }
  .gj_dash_chart .highcharts-legend .highcharts-series-0, 
  .gj_dash_chart .highcharts-legend .highcharts-series-1 {
      pointer-events: none;
  }
/*Dashboard Style ENd*/

/*MEssages Start*/
  .gj_msg_det ul.gj_msg_ul li {
      list-style: none;
  }
  .gj_msg_det ul.gj_msg_ul li.active, .gj_msg_det ul.gj_msg_ul li:hover {
      background-color: #fff;
  }
  .gj_msg_det ul.gj_msg_ul li.active a, .gj_msg_det ul.gj_msg_ul li:hover a {
      color: #2bb0e9;
      text-decoration: none;
  }
  .gj_msg_det ul.gj_msg_ul li {
      list-style: none;
      border: 1px solid #ccc;
      padding: 10px;
      background-color: #2bb0e9;
  }
  .gj_msg_det ul.gj_msg_ul li a {
      color: #fff;
      font-weight: bold;
  }
  .gj_msg_detts ul.gj_msgs_ul {
      padding: 0px;
  }
  .gj_msg_detts ul.gj_msgs_ul li {
      list-style: none;
      border-bottom: 1px solid #ccc;
      padding: 10px 5px;
  }
  p.gj_action_sel {
      width: 5%;
      float: left;
      margin-right: 1%;
      text-align: center;
  }
  p.gj_from_adds {
      width: 30%;
      float: left;
      margin-bottom: 0px;
  }
  p.gj_msg_body {
      width: 63%;
      margin-left: 1%;
      float: left;
      margin-bottom: 0px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }
  .gj_msg_detts, .gj_msg_detts ul.gj_msgs_ul, .gj_msg_detts ul.gj_msgs_ul li,  
  .gj_msg_detts ul.gj_msgs_ul li a, .gj_msg_pn {
      width: 100%;
      float: left;
  }
  .gj_msg_detts ul.gj_msgs_ul li a {
    color: #000;
  }
  .gj_msg_menu {
      border: 1px solid #ccc;
      width: 100px;
      padding: 6px 5px;
      border-bottom: 0;
      background-color: #2bb0e9;
      color: #fff;
  }
  li.gj_nxt_pve a {
      padding: 9px 12px !important;
  }
  .gj_new_pack {
      margin: 0px;
      padding: 0px;
  }
  .gj_msg_bot {
      margin-bottom: 25px;
  }
  .gj_msg_nw {
      margin: 0px !important;
      padding: 0px !important;
  }
  .gj_msg_nw h3 {
      padding: 0 !important;
  }
  ul.gj_msg_ul {
      padding-left: 0px;
      position: relative;
      background-color: #def0f8;
  }
  li.gj_read {
      background-color: #def0f8;
  }
  li.gj_unread {
      background-color: #fff;
  }
  .gj_msg_detts ul.gj_msgs_ul li:first-child {
      border-top: 0px !important;
  }
  .gj_msg_detts ul.gj_msgs_ul li:last-child {
      border-bottom: 0px !important;
  }
  .gj_msg_act {
      width: 5%;
      float: left;
      margin-right: 1%;
  }
  .gj_msg_from {
      width: 30%;
      float: left;
  }
  .gj_msg_subj {
      width: 63%;
      margin-left: 1%;
      float: left;
  }
  .gj_msg_head {
      background-color: #2bb0e9;
      overflow: hidden;
      margin-left: 15px;
      color: #fff;
      height: 50px;
  }
  .gj_msg_comp p, .gj_msg_act p, .gj_msg_from p, .gj_msg_subj p {
      margin-bottom: 0px;
         margin-top: 13px;
  }
  .gj_msg_comp p a {
      color: #2bb0e9;
      text-decoration: none;
      padding: 5px 15px;
      border-radius: 5px;
      background-color: #fff;
  }
  ul.gj_msg_ul:before {
      content: '';
      width: 6px;
      height: 100%;
      position: absolute;
      z-index: 232;
      background-color: #ffffff;
      right: 0px;
  }

  /* Base for label styling */
  .gj_unread [type="checkbox"]:not(:checked),
  .gj_unread [type="checkbox"]:checked, .gj_read [type="checkbox"]:not(:checked),
  .gj_read [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  .gj_unread [type="checkbox"]:not(:checked) + label,
  .gj_unread [type="checkbox"]:checked + label,.gj_read [type="checkbox"]:not(:checked) + label,
  .gj_read [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  /* checkbox aspect */
  .gj_unread [type="checkbox"]:not(:checked) + label:before,
  .gj_unread [type="checkbox"]:checked + label:before ,.gj_read [type="checkbox"]:not(:checked) + label:before,
  .gj_read [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  /* checked mark aspect */
  .gj_unread [type="checkbox"]:not(:checked) + label:after,
  .gj_unread [type="checkbox"]:checked + label:after,.gj_read [type="checkbox"]:not(:checked) + label:after,
  .gj_read [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0px;
    left: 4px;
    font-size: 15px;
    color: #2bb0e9;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  .gj_unread [type="checkbox"]:not(:checked) + label:after,.gj_read [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
  }
  .gj_unread [type="checkbox"]:checked + label:after ,.gj_read [type="checkbox"]:checked + label:after {
    opacity: 1;
  }
/*MEssages End*/
  p.gj_package_dets.gj_msg_bot{
    margin-bottom: 1.5em !important;
  }
  .gj_msg_comp p a {
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: #fff;
    color: #2bb0e9;
    box-shadow: 0 4px #dddbdb;
    border-radius: 5px;
  }
  .gj_msg_comp p a:hover {
    box-shadow: 0 2px #dddbdb;
    top: 2px;
    text-decoration: none;
  }
  /*Message single View start*/
  p.gj_s_frm, p.gj_s_bdy {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px !important;
  }
  span.gj_mail_addrs {
      color: #787878;
  }
  span.gj_s_colon1 {
      margin: 0px 7px 0px 22px;
  }
  span.gj_s_colon2 {
      margin: 0px 7px;
  }
  .gj_msg_bdy {
      margin-bottom: 15px;
  }
  p.gj_s_msg_bdy {
      font-size: 14px;
      font-weight: 600;
      color: #787878;
      text-indent: 65px;
  }
  .gj_msg_attach {
      width: 25%;
      float: left;
      height: 120px;
      overflow: hidden;
      margin-bottom: 15px;
  }
  .gj_attach_img {
      width: 90%;
      margin: auto;
  }
  .gj_msg_reply button.country_button i.fa {
      vertical-align: middle !important;
  }
/*Message single View End*/
.full_msg {
    padding: 15PX;
    border: 1px solid #ddd;
    margin: 1em;
}



.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.mar_top_1_em{
  margin-top: 1em !important;
}


/*Genology godwin style start*/
button.gj_dist_view {
    background-color: #0186be;
    color: #fff;
    border: 0;
    width: 100px;
    outline: 0 !important;
    height: 30px;
    margin-top: 42px;
}
i.fa.fa-search.gj_icon_srh {
    vertical-align: text-top;
}
.gj_tree_l_count, .gj_tree_r_count {
    text-align: left;
    color: green;
    font-weight: bold;
}
.gj_tree_r_count {
    text-align: right;
}
.gj_tree_vws {
    width: 220px;
    min-height: 100px;
    border: 1px solid #2bb0e9;
    margin: auto;
    position: relative;
}
.gj_tree_id_div {
    background-color: #2bb0e9;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 0px;
}
p.gj_tree_id {
    margin: 0px;
}
.gj_tree_img_div {
    width: 60px;
    float: left;
    height: 60px;
    overflow: hidden;
}
.gj_tree_img {
    padding: 5px;
}
p.gj_tree_inf {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #2bb0e9;
}
.gj_tree_vacant {
    font-size: 18px !important;
    padding: 15px;
    text-align: center;
}
.gj_tree_name {
    color: #008000 !important;
    margin-top: 5px;
}
.gj_tree_vws:hover {
    box-shadow: 1px 1px 10px 0px #2bb0e9 !important;
}
hr.gj_tree_hr {
    width: 50%;
    margin: 20px auto;
}
.gj_first_tree:before, .gj_second_tree:before {
    /*content: "";
    position: absolute;
    bottom: -21px;
    left: 50%;
    height: 20px;
    width: 10px;
    border-left: 2px solid #e5e5e5;*/
}
.gj_third_tree:after, .gj_second_tree:after {
  /*  position: absolute;
    top: -21px;
    content: "";
    left: 54%;
    border-left: 2px solid #e5e5e5;
    width: 20px;
    height: 20px;*/
}
.gj_third_tree_nxt:after, .gj_second_tree_nxt:after {
  /*  left: 45%;*/
}
.gj_tree_ph {
    margin-right: 5px;
}

/* table */
.gj_tree_table_vw {
    display: none;
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 99;
}
.gj_tree_table_vw table {
    background-color: #2bb0e9;
}
.gj_tree_table_vw table th, .gj_tree_table_vw table td{
    color: #fff;
    font-size: 12px;
    padding: 8px;
}
.gj_tree_table_vw table thead th {
    color: #414141 !important;
    background-color: #5ab5dc !important;
}
.gj_tree_table_vw table th.gj_tree_downline {
    color: #fff !important;
    background-color: #2bb0e9 !important;
}
.gj_tree_table_vw .gj_tree_resp {
    border: 2px solid #2bb0e9;
    padding: 10px 10px;
    height: 230px;
    width: 523px;
    background-color: #e4e5f0;
}
.gj_tree_table_vw table {
    background-color: #056088;
    width: 500px;
    margin-bottom: 0px;
}
.gj_tree_vws:hover .gj_tree_table_vw{
  display: block;
}
/* table */

/* responsive */
@media (min-width: 992px) and (max-width: 1199px) {
  .gj_tree_vws {
      width: 160px;
  }
  p.gj_tree_inf {
      margin-left: 10px;
  }
  .gj_tree_table_vw {
      top: 30px;
      left: -100%;
  }
  .gj_second_tree:after {
      left: 55%;
  }
  .gj_third_tree:after {
      left: 51%;
  }
  .gj_second_tree_nxt:after {
      left: 44%;
  }
  .gj_third_tree_nxt:after {
      left: 41%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .gj_tree_vws {
      width: 100px;
      min-height: 160px;
        text-align: center;
  }
  .gj_tree_img_div {
      width: 60%;
      float: none;
      margin: auto;
  }
  p.gj_tree_inf {
      font-size: 10px;
      text-align: center;
  }
  .gj_second_tree:after {
      left: 58%;
  }
  .gj_third_tree:after {
      left: 53%;
  }
  .gj_second_tree_nxt:after {
      left: 41%;
  }
  .gj_third_tree_nxt:after {
      left: 37%;
  }
  .gj_tree_table_vw {
      top: 30px;
      left: -250px;
  }
}
/*Genology godwin style End*/

/*Shoppoing style Start*/
.mnu_cr ul.navbar-nav {
    display: block !important;
}
.foo_none {
    display: none !important;
}
.snip1532 {
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #000000;
  display:inline-block;
  font-size: 16px;
  margin: 10px 2px 30px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

.snip1532 *,
.snip1532 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.snip1532 img {
  max-width: 100%;
  width: 100%;
  vertical-align: top;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.snip1532 .gj_prod_cap {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}
h3.gj_cap_title {
    color: #0688d4 !important;
    border: 1px solid #0688d4 !important;
    padding: 15px 20px;
    width: 70%;
    font-size: 20px;
    margin: auto;
    text-transform: uppercase;
}
.snip1532:hover .gj_prod_cap,
.snip1532.hover .gj_prod_cap {
  opacity: 1;
}

.snip1532:hover img,
.snip1532.hover img {
  opacity: 0.2;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
a.gj_right_icon, a.gj_left_icon {
  width: 15px;
  height: 20px;
  background-color: transparent;
  background-image: none !important;
  opacity: 1 !important;
  right: 15px !important;
  top: 50% !important;
  margin-top: -10px;
}
a.gj_left_icon {
  right: auto !important;
  left: 15px !important;
}

/* responsive 767px start */
@media (max-width:767px){
  .foo_none {
      display: block !important;
  }
}
/* responsive 767px end */

/* responsive 600px start */
@media (max-width:600px){
  .gj_logo_img {
      width: 80%;
  }
}
/* responsive 600px end */
/*Shoppoing style End*/



.crt_but{
    margin: 20px auto;
}
/*Shooping  style Start*/
.mnu_cr ul.navbar-nav {
    position: relative;
}
.gj_mnu_cart {
    position: relative;
    padding: 10px 40px 10px 10px;
}
.gj_soc_ico {
    font-size: 20px;
    color: #fff;
}
span.gj_badge {
    position: absolute;
    top: -5px;
    right: 13px;
    width: 23px;
    height: 23px;
    padding: 2px 3px;
    background-color: #fff;
    border-radius: 50%;
    color: #0688d4;
    text-align: center;
}
a.gj_back_but {
    background-color: #0688d4;
    color: #fff;
    padding: 10px;
    text-decoration: none !important;
}
button.gj_ety_ct {
    float: right;
    border: 1px solid transparent;
    background-color: #0087d0;
    color: #fff;
    padding: 3px 15px;
    outline: 0 !important;
}
button.gj_ety_ct:hover {
    border: 1px solid #0087d0;
    background-color: #fff;
    color: #0087d0;
}
tr.gj_sp_ct th span {
    vertical-align: middle;
    font-size: 16px;
    font-family: roboto_bold;
    color: #fff;
}
.gj_cart_det table th {
    text-align: center;
    font-family: roboto_medium;
    color: #fff;
}
.gj_cart_det table td {
    text-align: center;
}
button.gj_cart_close {
    background-color: red;
    border: 1px solid transparent;
    color: #fff;
    outline: 0 !important;
}
button.gj_cart_close:hover {
    background-color: #fff;
    border: 1px solid red;
    color: red;
    outline: 0 !important;
}
span.gj_c_total {
    /*color: #fff;*/
}
.gj_cart_det table {
    width: 100%;
    background-color: #0fb3f0;
}
.gj_cart_det {
    width: 600px;
    height: 190px;
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 99999;
    background-color: #fff;
    display: none;
}
.gj_mnu_cart:hover .gj_cart_det {
  display: block; 
}
.gj_back_div {
    margin: 20px 0px;
}
.gj_single_prod {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #0688d4;
  color: #ffffff;
  float: left;
  font-size: 16px;
  margin: 10px 3px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.gj_single_prod *,
.gj_single_prod *:before,
.gj_single_prod *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.gj_single_prod img {
  max-width: 100%;
  width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
.gj_single_prod .gj_s_caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.gj_single_prod .gj_s_caption:before,
.gj_single_prod .gj_s_caption:after,
.gj_single_prod .gj_s_caption div:before,
.gj_single_prod .gj_s_caption div:after {
  opacity: 0;
}
.gj_single_prod .gj_s_caption:before,
.gj_single_prod .gj_s_caption:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #4a9ed0;
  content: '';
  height: 50%;
  position: absolute;
  width: 50%;
}
.gj_single_prod .gj_s_caption:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.gj_single_prod .gj_s_caption:after {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.gj_single_prod .gj_s_caption div:before,
.gj_single_prod .gj_s_caption div:after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: #0688d4;
  content: '';
  height: 50%;
  position: absolute;
  width: 50%;
}
.gj_single_prod .gj_s_caption div:before {
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.gj_single_prod .gj_s_caption div:after {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.gj_single_prod i {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  color: #fff;
}
.gj_single_prod:hover img,
.gj_single_prod.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.gj_single_prod:hover i,
.gj_single_prod.hover i {
  opacity: 0.7;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.gj_single_prod:hover .gj_s_caption:before,
.gj_single_prod.hover .gj_s_caption:before,
.gj_single_prod:hover .gj_s_caption:after,
.gj_single_prod.hover .gj_s_caption:after,
.gj_single_prod:hover .gj_s_caption div:before,
.gj_single_prod.hover .gj_s_caption div:before,
.gj_single_prod:hover .gj_s_caption div:after,
.gj_single_prod.hover .gj_s_caption div:after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity: 0.8;
}
p.gj_s_p_title {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
}
p.gj_s_p_title:hover {
    color: #0087d0 !important;
}
.gj_cart_but {
    width: 130px;
    height: 35px;
    font-size: 16px;
    border: 0;
    outline: 0 !important;
    margin-bottom: 10px;
}
.gj_s_msg{
  display: none;
  color: #5cb85c;
}
.gj_cart_but i {
    vertical-align: text-top;
}
.gj_s_p_tot {
    margin-bottom: 25px;
}

/* Products single view Page Style Start */
/* single view carousel Section Start */
.gj_abo_hd_div {
    margin-bottom: 25px;
}
.gj_sv_bg .container {
    border: 1px solid #d7d7d7;
}
section.gj_sv_sec1 {
    margin-bottom: 30px;
    margin-top: 20px;
}
.gj_sv_carousel div#slider {
    margin: 0px !important;
    height: 400px;
    overflow: hidden;
}
.gj_sv_carousel div#carousel {
    margin: 0px !important;
    height: 175px;
    overflow: hidden;
}
.gj_sv_carousel .flex-direction-nav a:before {
    font-size: 25px;
    color: #0688d4;
}
.flex-direction-nav a {
    outline: 0 !important;
}
.gj_sv_carousel div#slider .flex-direction-nav {
    display: none;
}
.gj_sv_pack1, .gj_sv_pack2, .gj_pack_des {
    width: 100%;
    float: left;
}
.gj_sv_pack1 span.fa {
    color: #0688d4;
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 50%;
    border: 1px solid #0688d4;
    margin-right: 10px;
    transition: all .7s linear;
}
.gj_sv_pack1 span.fa:hover {
    color: #fff;
    background-color: #0688d4;
    transition: all .7s linear;
}
hr.gj_sv_hr1 {
    width: 100%;
    float: left;
    border-color: #d7d7d7;
    margin: 15px 0px 5px;
}
p.gj_s_prod_hd {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 5px;
}
p.gj_s_prod_cat a {
    color: #787878;
    text-decoration: none !important;
}
p.gj_s_mrp {
    font-family: roboto_bold;
    font-size: 24px !important;
    color: #0087d0 !important;
    margin-bottom: 0px;
}
p.gj_s_dp {
    font-family: roboto_bold;
    font-size: 24px !important;
    color: #e6171f !important;
    margin-bottom: 0px;
}
.gj_s_mrp_line {
    text-decoration: line-through;
}
.gj_s_price {
    margin-bottom: 15px;
}
.gj_quant {
    width: 200px;
    height: 30px;
    margin-left: 10px;
}
.gj_add_cart_div label {
    font-size: 16px;
}
p.gj_left_items {
    font-size: 16px;
    color: #787878;
    font-family: roboto_medium;
    margin: 15px 0px;
}
/* single view carousel Section End */

/* Description tab Section Start  */
.gj_sv_tabsec .nav-tabs {
    border-bottom: 0;
}
.gj_sv_tabsec .nav-tabs li a {
    border: 1px solid #0688d4;
    border-radius: 0;
    margin: 0px;
    color: #0688d4;
    font-family: roboto_medium;
    font-size: 16px;
}
.gj_sv_tabsec .nav-tabs li a:hover, .gj_sv_tabsec .nav-tabs li.active a{
    background-color:#0688d4; 
    color: #fff;
    border: 1px solid #0688d4;
}
.gj_sv_tabsec .tab-content {
    border: 1px solid #d7d7d7;
    padding: 15px;
}
.gj_sv_tabsec {
    padding: 20px 0px 10px;
}
p.gj_dsc_cnt {
    color: #787878;
}
p.gj_no_rev2 {
    font-size: 18px;
}
.gj_star_rate {
    font-size: 20px;
    margin-right: 8px;
    color: gold;
}
button.gj_rev_submit {
    width: 190px;
    height: 35px;
    border: 1px solid transparent;
    background-color: #0688d4;
    color: #fff;
    outline: 0 !important;
}
button.gj_rev_submit:hover {
    border: 1px solid #0688d4;
    background-color: #fff;
    color: #0688d4;
    outline: 0 !important;
}
textarea#your_review {
    background: #f4f4f4;
    height: 190px;
    margin-bottom: 20px;
}
.gj_star_rating {
    margin: 5px 0px 25px;
}
.gj_review_submit {
    margin: 25px 0px 15px;
}
form.gj_form_star_rev {
    padding: 20px 30px;
    background-color: #fafafa;
}
.gj_inp_rev {
    margin-bottom: 10px;
}
/* Description tab Section End */
/* Products single view Page Style End */

/* Responsive 992px-1199px start*/
@media (min-width: 992px) and (max-width: 1199px){
    /* Products single view Page responsive start */
    .gj_sv_carousel div#slider {
        height: 410px;
    }
    /* Products single view Page responsive end */
}
/* Responsive 992px-1199px end*/

/* Responsive 768px-991px start*/
@media (min-width: 768px) and (max-width: 991px){
    /* Products single view Page responsive start */
    .gj_sv_carousel div#slider {
        height: 455px;
    }
    /* Products single view Page responsive end */
}
/* Responsive 768px-991px end*/

/* Responsive 767px start*/
@media (max-width: 767px){
    /* Products single view Page responsive start */
    .gj_sv_pack1 {
        margin-top: 30px;
    }
    p.gj_sv_review {
        text-align: left;
    }
    .gj_review_submit {
      margin: 0px 0px 20px;
  }
  .gj_cart_det {
      width: 400px;
      right: 0px;
  }
    /* Products single view Page responsive end */
}
/* Responsive 767px end*/

/* Responsive 500px start*/
@media (max-width: 500px){
    /* Products single view Page responsive start */
    .gj_sv_tabsec .nav-tabs li {
        width: 100%;
        float: none;
        margin: auto;
        text-align: center;
    }
    .gj_sv_carousel div#slider {
        height: 290px;
    }
    button.gj_rev_submit {
      width: 150px;
  }
  .gj_mnu_cart {
      padding: 30px 40px 10px 10px;
      display: block;
      width: 50px;
      margin: auto;
  }
  span.gj_badge {
      top: 10px;
      right: 0;
  }
  .gj_cart_det {
      width: 200px;
      right: -100%;
  }
    /* Products single view Page responsive end */
}
/* Responsive 500px end*/
/*Shooping  style End*/

/*Cart style Start*/
.gj_cart_tot {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    overflow: visible;
    border: 0;
}
.gj_cart_tot table {
    margin-bottom: 0px;
}
/* table scroll style end */
.gj_cart_tot::-webkit-scrollbar, .gj_cart_det::-webkit-scrollbar, 
.gj_total_cart::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}
.gj_cart_tot::-webkit-scrollbar-thumb, .gj_cart_det::-webkit-scrollbar-thumb, 
.gj_total_cart::-webkit-scrollbar-thumb {
    background-color: rgba(43, 176, 233, 0.36);
    border: 2px solid rgba(1, 134, 190, 0.21);
    border-radius: 50px;
}
.gj_cart_tot::-webkit-scrollbar-track, .gj_cart_det::-webkit-scrollbar-track, 
.gj_total_cart::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
/* table scroll style end */
.gj_c_p_img {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    margin: auto;
}
.gj_cart_tot table th {
    text-align: center;
    background-color: #0688d4;
    color: #fff;
    font-family: roboto_medium;
    text-transform: uppercase;
}
.gj_cart_tot table td {
    vertical-align: middle !important;
    text-align: center;
    border-bottom: 0px !important;
    font-family: roboto_medium;
}
tr.gj_c_my th {
    background-color: transparent;
    color: #0688d4;
    font-family: roboto_bold;
    font-size: 18px;
}
td.gj_red_color {
    color: red !important;
}
.gj_cart_tot table tbody tr{
  border-bottom: 1px solid #d7d7d7;
}
/* cart total style */
.gj_total_cart tr.gj_c_my th {
    border-bottom: 1px solid #f0f0f0;
}
.gj_total_cart tr th {
    border-top: 0px !important;
    font-family: roboto_medium;
}
.gj_total_cart tr td {
    border-top: 0px !important;
    font-family: roboto_regular;
}
.gj_total_cart tr.gj_amount {
    border-top: 1px dashed #e0e0e0;
    border-bottom: 1px solid #f0f0f0;
}
tr.gj_c_saving th {
    color: #388e3c;
}
tr.gj_c_saving th span {
    margin-left: 15px;
}
.gj_total_cart {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    border: 0.1px solid rgba(0, 0, 0, .2);
}
button.gj_continue_but {
    background-color: #0688d4;
    color: #fff;
    border: 0;
    outline: 0 !important;
    text-align: center;
    padding: 5px 10px;
    font-family: roboto_medium;
    font-size: 16px;
    margin-right: 10px;
}
button.gj_continue_but:hover {
    background-color: #fff;
    color: #0688d4;
    border: 1px solid #0688d4;
}
button.gj_continue_but i.fa {
    font-size: 21px;
    margin-right: 5px;
}
button.gj_checkout_but {
    background-color: #fff;
    color: #0688d4;
    border: 1px solid #0688d4;
    outline: 0 !important;
    text-align: center;
    padding: 5px 10px;
    font-family: roboto_medium;
    font-size: 16px;
}
button.gj_checkout_but:hover {
    background-color: #0688d4;
    color: #fff;
}
td.gj_spin_quan {
    width: 125px;
}
td.gj_spin_quan span.input-group-btn button {
    border-radius: 0;
}

/* 767px responsive start */
@media (max-width: 767px){
  .gj_cart_tot table th {
      font-size: 10px;
      padding: 10px 2px !important;
  }
  .gj_cart_tot table td {
      font-size: 12px;
      padding: 10px 2px !important;
  }
    button.gj_checkout_but, button.gj_continue_but{
        margin-bottom: 20px; 
    }
}
/* 767px responsive end */

/* 500px responsive start */
@media (max-width: 500px){
  .gj_cart_tot {
      overflow: scroll;
  }
  .gj_cart_tot table th {
      padding: 10px 12px !important;
  }
  .gj_cart_tot table td {
      padding: 10px 12px !important;
  }
}
/* 500px responsive end */
/*Cart style End*/


.crt_by_nw{
      width: 100px;
    float: right;
}

/*Geanology Style Start*/
button.gj_dist_view {
    background-color: #0186be;
    color: #fff;
    border: 0;
    width: 100px;
    outline: 0 !important;
    height: 30px;
    margin-top: 42px;
}
i.fa.fa-search.gj_icon_srh {
    vertical-align: text-top;
}
.gj_tree_l_count, .gj_tree_r_count {
    text-align: left;
    color: green;
    font-weight: bold;
}
.gj_tree_r_count {
    text-align: right;
}
.gj_tree_vws {
    width: 220px;
    min-height: 100px;
    border: 1px solid #2bb0e9;
    margin: auto;
    position: relative;
}
.gj_tree_id_div {
    background-color: #2bb0e9;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 0px;
}
.gj_tree_vws p:first-child {
    margin: 0px;
    background-color: #2bb0e9;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 0px;
}
.gj_tree_vws img {
    width: 60px;
    float: left;
    height: 60px;
    padding: 5px;
    overflow: hidden;
}
.gj_tree_vws img+p, .gj_tree_vws img+p+p {
    color: #008000;
    margin-top: 5px;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
}
.gj_tree_vws p.fa {
    color: #2bb0e9;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
}
.gj_tree_vws img+p+p {
    color: #2bb0e9 !important;
    margin-top: 0px;
}
.gj_tree_vacant {
    font-size: 18px !important;
    padding: 15px;
    text-align: center;
}
.gj_tree_vws:hover {
    box-shadow: 1px 1px 10px 0px #2bb0e9 !important;
}
hr.gj_tree_hr {
    width: 50%;
    margin: 20px auto;
}
.gj_first_tree:before, .gj_second_tree:before {
   /* content: "";
    position: absolute;
    bottom: -21px;
    left: 50%;
    height: 20px;
    width: 10px;
    border-left: 2px solid #e5e5e5;*/
}
.gj_third_tree::after, .gj_second_tree::after {
    /*position: absolute;
    top: -21px;
    content: "";
    left: 54%;
    border-left: 2px solid #e5e5e5;
    width: 20px;
    height: 20px;*/
}
.gj_third_tree_nxt:after, .gj_second_tree_nxt:after {
   /* left: 45%;*/
}
.gj_tree_ph {
    margin-right: 5px;
}

/* table */
.gj_tree_table_vw {
    display: none;
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 99;
}
.gj_tree_table_vw table {
    background-color: #2bb0e9;
}
.gj_tree_table_vw table th, .gj_tree_table_vw table td{
    color: #fff;
    font-size: 12px;
    padding: 8px;
}
.gj_tree_table_vw table thead th {
    color: #414141 !important;
    background-color: #5ab5dc !important;
}
.gj_tree_table_vw table th.gj_tree_downline {
    color: #fff !important;
    background-color: #2bb0e9 !important;
}
.gj_tree_table_vw .gj_tree_resp {
    border: 2px solid #2bb0e9;
    padding: 10px 10px;
    height: auto !important;
    width: 523px;
    background-color: #e4e5f0;
}
.gj_tree_table_vw table {
    background-color: #056088;
    width: 500px;
    margin-bottom: 0px;
}
.gj_tree_vws:hover .gj_tree_table_vw{
  display: block;
}
/* table */

/* responsive */
@media (min-width: 992px) and (max-width: 1199px) {
  .gj_tree_vws {
      width: 160px;
  }
  p.gj_tree_inf {
      margin-left: 10px;
  }
  .gj_tree_table_vw {
      top: 30px;
      left: -100%;
  }
  .gj_second_tree:after {
      left: 55%;
  }
  .gj_third_tree:after {
      left: 51%;
  }
  .gj_second_tree_nxt:after {
      left: 44%;
  }
  .gj_third_tree_nxt:after {
      left: 41%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .gj_tree_vws {
      width: 100px;
      min-height: 160px;
        text-align: center;
  }
  .gj_tree_img_div {
      width: 60%;
      float: none;
      margin: auto;
  }
  p.gj_tree_inf {
      font-size: 10px;
      text-align: center;
  }
  .gj_second_tree:after {
      left: 58%;
  }
  .gj_third_tree:after {
      left: 53%;
  }
  .gj_second_tree_nxt:after {
      left: 41%;
  }
  .gj_third_tree_nxt:after {
      left: 37%;
  }
  .gj_tree_table_vw {
      top: 30px;
      left: -250px;
  }
}
/*Genology godwin style End*/
/*Geanology Style End*/


/*Payment Style Start*/
.gj_payment_div {
    width: 40%;
    margin: 20px auto 30px;
    font-family: roboto_medium;
    border: 1px solid #d7d7d7;
    padding: 20px;
    text-align: center;
}
p.gj_p_sucs {
    color: green;
    font-size: 20px;
}
p.gj_p_sucs .fa-check {
    margin-right: 7px;
    vertical-align: middle;
    border: 2px solid;
    border-radius: 50%;
    padding: 5px;
}
p.gj_p_pin {
    color: #787878;
    font-size: 16px;
}
p.gj_p_pin span {
    color: #414141;
}
button.gj_regist {
    padding: 5px 15px;
    background-color: #0688d4;
    color: #fff;
    font-size: 16px;
    border: 1px solid #0688d4;
    outline: 0 !important;
}
button.gj_regist:hover {
    background-color: #fff;
    color: #0688d4;
}

@media (max-width: 767px){
  .gj_payment_div {
      width: 80%;
  }
}

/*Payment Style End*/
.subrt_cls{
    text-align: center;
    color: #2bb0e9;
    text-decoration: underline;
    position: absolute;
    bottom: 5px;
    left: 30%;
    cursor: pointer;
}
.mumenu img {
    border-radius: 50% !important;
    width: 40px !important;
    display: inline-block !important;
    margin-right: 5px !important;
}

.gj_tree_table_vw table th, .gj_tree_table_vw table td {
    color: #fff;
    font-size: 12px;
    padding: 8px;
    background-color: #056088 !important;
}







/********************/
h3.gj_prod_title {
    background-color: #0688d4;
    color: #fff;
    margin: 0;
    padding: 10px 0px;
    border: 1px solid #0688d4;
    overflow: hidden;
    height: 40px;
}
section.gj_s_p_sec a{
  text-decoration: none !important;
}
section.gj_s_p_sec .snip1532:hover {
    transition: all 0.4s ease-out;
}
section.gj_s_p_sec .snip1532:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.20);
    transition: all 0.4s ease-out;
}
section.gj_s_p_sec .snip1532 img {
    height: 200px;
    background-color: #f6f7f9;
    overflow: hidden;
}
.gj_s_p_bg {
    margin-bottom: 40px;
}
.snip1532:hover img, .snip1532.hover img {
    opacity: 1;
}

/* shop_product_single_new.php style start */
.gj_s_p_bg .gj_col_20 {
    width: 20% !important;
    max-width: 20% !important;
}
p.gj_s_p_price {
    font-size: 18px;
    font-family: roboto_bold;
    width: 100%;
    overflow: hidden;
    color: #0688d4;
    margin-bottom: 3px;
    padding-top: 10px;
}
p.gj_s_p_cat {
    color: #787878;
    margin-bottom: 0px;
}
p.gj_s_p_titles {
    font-size: 16px;
    margin-bottom: 3px;
    color: #414141;
    overflow: hidden;
    height: 44px;
}
p.gj_s_p_id {
    color: #787878;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gj_s_pr_tot .gj_single_prod {
    margin: auto;
}
.gj_s_pr_tot :hover .gj_s_p_titles {
    color: #0688d4;
}
/* hover */
.gj_s_pr_tot {
    position: relative;
    overflow: hidden;
    border: 1px solid #d7d7d7;
  padding: 10px;
  transition: all 0.4s ease;
}
.gj_s_pr_tot:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.20);
    transition: all 0.4s ease;
}
.gj_s_pr_tot *,
.gj_s_pr_tot *:before,
.gj_s_pr_tot *:after {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.gj_s_pr_tot img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
}
.gj_s_pr_tot:hover img,
.gj_s_pr_tot.hover img {
  zoom: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.gj_s_pr_tot:hover i,
.gj_s_pr_tot.hover i {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* hover */
.gj_s_msg {
    margin-bottom: 5px;
}
.gj_s_p_hd.text-center {
    padding-top: 10px;
}
.gj_no_rw{
  margin:0px !important;
}
hr.gj_acc_hr {
    margin-bottom: 0;
}

/* shop_product_single_new.php responsive start */
@media (min-width: 768px) and (max-width: 991px) {
  .gj_s_p_bg .gj_col_20 {
      width: 25% !important;
      max-width: 25% !important;
      margin-top: 15px;
  }
}

@media (max-width: 797px) {
  .gj_s_p_bg .gj_col_20 {
      width: 33.33333333% !important;
      max-width: 33.33333333% !important;
      margin-top: 15px;
  }
  .gj_s_pr_tot button.gj_cart_but {
      width: 100px;
      font-size: 14px;
  }
}

@media (max-width: 500px) {
  .gj_s_p_bg .gj_col_20 {
      width: 50% !important;
      max-width: 50% !important;
      margin-top: 15px;
  }
  .gj_s_pr_tot button.gj_cart_but {
      width: 90px;
  }
}
/* shop_product_single_new.php responsive end */
/* shop_product_single_new.php style end */
/********************/
div#slider ul li img {
    width: auto !important;
}
div#carousel ul li img {
    width: 100% !important;
}